<igb-navbar></igb-navbar>
<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal registro diario -->
<div class="modal fade" id="modalActive" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Reporte de actividad diaria</h4>
      </div>
      <div class="modal-body">
        <div class="tabgroup">
          <button class="btn btn-default col-md-6 col-xs-6" [class.btn-danger]="tabActive"
            (click)="setInactives()">Inactivos ({{markersWithQuantityZero.length}})</button>
          <button class="btn btn-default col-md-6 col-xs-6" [class.btn-danger]="tabInactive"
            (click)="setAssets()">Activos ({{markersWithQuantityGreaterThanZero.length}})</button>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let marker of activeList">
            <img class="avatar"
              [src]="'https://wali.igbcolombia.com/api/shared/images/users/seller/' + marker.card + '.jpg'" />
            <span class="person-name">{{marker.name}}</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Titulo - icono -->
<div class="container content">
  <div class="row">
    <div class="col-md-8 col-xs-8">
      <h3>Geolocalización</h3>
    </div>
    <div class="col-md-2 col-xs-2">
      <div class="reload">
        <span class="glyphicon glyphicon-phone" (click)="openModal()" style="font-size: 32px;"
          title="Ver marcación diaria"></span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2">
      <div class="reload">
        <span class="icon-refresh" (click)="clear()" title="Refrescar busqueda"></span>
      </div>
    </div>
  </div>
  <!-- Alerta error -->
  <div class="row" *ngIf="changeLocationErrorMessage" role="alert" style="padding-bottom: 0;">
    <div class="col-xs-12">
      <div class="alert alert-danger" style="margin-bottom: 0;">
        {{changeLocationErrorMessage}}
      </div>
    </div>
  </div>
  <!--  Filtros Select & Botón -->
  <div class="row">
    <div class="col-xs-12 col-md-4" *ngIf="selectedCompany=='IGB'">
      <div class="seccion">
        <select class="form-control input-lg" (change)="onRegionChange()" [(ngModel)]="selectedRegion"
          [disabled]="!enabledbutton">
          <option value="" disabled>Selecciona una región</option>
          <option *ngFor="let region of filteredRegions" [value]="region">{{region}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" *ngIf="selectedCompany=='IGB'">
      <div class="seccion">
        <select class="form-control input-lg" [(ngModel)]="selectedAdvisor" [disabled]="!enabledbutton">
          <option value="" disabled>Selecciona un asesor</option>
          <option *ngFor="let adviser of filteredAdvisors" [value]="adviser.id">{{adviser.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-4" *ngIf="selectedCompany=='VARROC'">
      <div class="seccion">
        <select class="form-control input-lg" (change)="onRegionChange()" [(ngModel)]="selectedZone"
          [disabled]="!enabledbutton">
          <option value="" disabled>Selecciona una Región</option>
          <option *ngFor="let region of filteredRegions" [value]="region">{{region}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" *ngIf="selectedCompany=='VARROC'">
      <div class="seccion">
        <select class="form-control input-lg" [(ngModel)]="selectedAdvisor" [disabled]="!enabledbutton">
          <option value="" disabled>Selecciona un asesor</option>
          <option *ngFor="let adviser of filteredAdvisors" [value]="adviser.id">{{adviser.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-7" *ngIf="selectedCompany=='REDPLAS'">
      <div class="seccion">
        <select class="form-control input-lg" [(ngModel)]="selectedAdvisor" [disabled]="!enabledbutton">
          <option value="" disabled>Selecciona un asesor</option>
          <option *ngFor="let adviser of advisors" [value]="adviser.id">{{adviser.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="seccion">
        <input class="form-control input-lg" type="date" [(ngModel)]="dateValue" (ngModelChange)="getDateFormat()"
          [disabled]="!enabledbutton">
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <div class="seccion">
        <button type="button" data-toggle="modal" data-target="#modal_new_asset" class="form-control input-lg"
          (click)="getLocation()" [disabled]="!enabledbutton">
          <span class="glyphicon glyphicon-screenshot"></span> Ver
        </button>
      </div>
    </div>
  </div>
  <!-- Mapa -->
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="seccion">
        <div id="google-map" style="height: 350px;"></div>
      </div>
    </div>
  </div>
  <!-- Estadística recorrido -->
  <div class="row">
    <div class="col-md-8 col-xs-12" *ngIf="locations && locations.length > 0">
      <div class="seccion">
        <p style="text-align: center; border: 1px solid #D7DBDD; border-radius: 5px;"><b>Info Ruta - Asesor</b></p>
        <div class="report">
          <img [src]="'https://wali.igbcolombia.com/api/shared/images/users/seller/' + adviserCard + '.jpg'"
            alt="Asesor" class="image-advisor d-none d-sm-block" onerror="this.src='assets/images/logo-igb.png'">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="info-personal-left">
                <p><b><span class="glyphicon glyphicon-open-file"
                      style="font-size: 18px;position:relative; top: 3px;"></span> Pedidos montados:
                  </b>{{ordersUploads}}</p>
                <p><b><span class="glyphicon glyphicon-floppy-save"
                      style="font-size: 18px;position:relative; top: 3px;"></span> Pedidos guardados:
                  </b>{{savedOrders}}</p>
                <p><b><span class="glyphicon glyphicon-road"
                      style="font-size: 18px;position:relative; top: 4px;"></span>
                    Distancia recorrida: </b>{{distance | number:'1.2-2'}} Kms</p>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="info-personal-right">
                <p><b><span class="glyphicon glyphicon-log-in"
                      style="font-size: 18px;position:relative; top: 4px;"></span> Primer registro:
                  </b>{{firstRegister}}
                </p>
                <p><b><span class="glyphicon glyphicon-ok-circle"
                      style="font-size: 18px;position:relative; top: 4px;"></span> Ultima sincronización:
                  </b>{{lastSynchronizationAdvisor}}</p>
                <p><b><span class="glyphicon glyphicon-time"
                      style="font-size: 18px; position:relative; top: 3px;"></span>
                    Ultimo registro: </b>{{time}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Región Pais -->
    <div class="col-md-4 col-xs-12" *ngIf="locations && locations.length > 0 && selectedCompany=='IGB'">
      <div class="seccionIMG">
        <p style="text-align: center; border: 1px solid #D7DBDD; border-radius: 5px;"><b>Región</b></p>
        <img [src]="'assets/images/' + selectedRegion + '.png'" alt="Zone Country" class="image-zone-country">
      </div>
    </div>
    <div class="col-md-4 col-xs-12" *ngIf="locations && locations.length > 0 && selectedCompany=='VARROC'">
      <div class="seccionIMG">
        <p style="text-align: center; border: 1px solid #D7DBDD; border-radius: 5px;"><b>Región</b></p>
        <img [src]="'assets/images/' + selectedZone + '.png'" alt="Zone Country" class="image-zone-country">
      </div>
    </div>
    <div class="col-md-4 col-xs-12" *ngIf="locations && locations.length > 0 && selectedCompany=='REDPLAS'">
      <div class="seccionIMG">
        <p style="text-align: center; border: 1px solid #D7DBDD; border-radius: 5px;"><b>Región</b></p>
        <img [src]="'assets/images/REGION ANTIOQUIA.png'" alt="Zone Country" class="image-zone-country">
      </div>
    </div>
  </div>
</div>
