<igb-navbar></igb-navbar>

<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Procesando transferencia</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Advertencia ubicación fija-->
<div id="modal_confirmar_ubicacion_fija" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <span class="icon-alert-triangle" style="font-size: 40px;"></span>
            </div>
            <div class="modal-body">
                <p style="text-align: center">La ubicación de destino no corresponde a la <b>ubicación fija</b> del
                    ítem.
                    <br />¿Está seguro que desea continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger btn-lg" (click)="agregarReferenciaConfirmada()">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <h3>Transferencia entre ubicaciones</h3>
    <div class="row" *ngIf="stockTransferErrorMessage">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                {{stockTransferErrorMessage}}
            </div>
        </div>
    </div>
    <div class="row" *ngIf="stockTransferExitMessage">
        <div class="col-xs-12">
            <div class="alert alert-success">
                {{stockTransferExitMessage}}
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <form (submit)="validarReferencia()">
                <label for="itemCode">Referencia*</label>
                <input type="text" class="form-control input-lg" autocomplete="off" id="itemCode" name="itemCode"
                    placeholder="escanea la referencia" [(ngModel)]="itemCode" (blur)="validarReferencia()">
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <form (submit)="validarUbicacion(fromBin, 'from')">
                <label for="fromBin">Origen*</label>
                <input type="text" class="form-control input-lg" autocomplete="off" id="fromBin" name="fromBin"
                    placeholder="escanea la ubicación de origen" [(ngModel)]="fromBin" (blur)="validarUbicacion(fromBin, 'from')"
                    [disabled]="disabled">
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <form (submit)="validarUbicacion(toBin, 'to')">
                <label for="toBin">Destino*</label>
                <input type="text" class="form-control input-lg" autocomplete="off" id="toBin" name="toBin" placeholder="escanea la ubicación de destino"
                    [(ngModel)]="toBin" (blur)="validarUbicacion(toBin, 'to')" [disabled]="disabled">
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <form (submit)="agregarReferencia()">
                <label for="quantity">Cantidad*</label>
                <div class="input-group">
                    <input type="number" class="form-control input-lg" autocomplete="off" id="quantity" name="quantity"
                        [(ngModel)]="quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="button" (click)="agregarReferencia()">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <table *ngIf="items.length > 0" class="table table-striped">
                <tr>
                    <th class="detail">Ítem</th>
                    <th class="detail">Origen</th>
                    <th class="detail">Destino</th>
                    <th class="detail">Cant</th>
                    <th class="detail"></th>
                </tr>
                <tr *ngFor="let item of items">
                    <td class="detail">{{item.itemCode}}</td>
                    <td class="detail">{{item.fromBin}}</td>
                    <td class="detail">{{item.toBin}}</td>
                    <td class="detail">{{item.quantity}}</td>
                    <td class="detail">
                        <span class="refresh" (click)="eliminarItem(item.itemCode)" style="font-size: 25px;"><span
                                class="icon-delete"></span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-lg" type="button" (click)="limpiarTodo()">
                Limpiar
            </button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-danger btn-lg" type="button" (click)="crearTraslado()" [disabled]="items.length == 0" style="float: right;">
                Finalizar
            </button>
        </div>
    </div>
</div>