<igb-navbar></igb-navbar>

<div class="container content">
  <h3>Solicitud de Vacaciones</h3>
  <!-- Alertas -->
  <div class="alert alert-danger text-center error-alert" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="alert alert-success success-alert" role="alert" *ngIf="successMessage">
    {{successMessage}}
  </div>
  <div class="main-container">
    <div class="tarjeta-ingreso-agrupada">
      <!-- Datos del solicitante -->
      <div class="ingreso-card">
        <h4>Datos del Solicitante</h4>
        <table class="table">
          <tr>
            <th>Número Documento</th>
            <td>
              <input type="number" id="cedula" class="form-control" [(ngModel)]="cedula" name="cedula" required
                placeholder="Ingrese su documento" [disabled]="formLocked" (ngModelChange)="checkAndLock()" />
            </td>
          </tr>
          <tr>
            <th>Empresa</th>
            <td>
              <select id="empresa" class="form-control" [(ngModel)]="selectedCompany" name="empresa" required
                [disabled]="formLocked" (ngModelChange)="onCompanyChange(); checkAndLock()">
                <option value="" disabled>Seleccione empresa</option>
                <option value="IGB_NOVAWEB">IGB</option>
                <option value="MTZ_NOVAWEB">MOTOZONE</option>
                <option value="VILNA_NOVAWEB">REDPLAS</option>
                <option value="WALI_NOVAWEB">WALI</option>
                <option value="DSM_NOVAWEB">DIGITAL</option>
                <option value="INVERSUR_NOVAWEB">INVERSUR</option>
                <option value="MOTOREPUESTOS_NOVAWEB">MOTOREPUESTOS</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Jefe Inmediato</th>
            <td>
              <select id="jefe" class="form-control" [(ngModel)]="jefeInmediato" name="jefe" required
                [disabled]="formLocked" (ngModelChange)="checkAndLock()">
                <option value="" disabled>Seleccione jefe</option>
                <option value="ALEJANDRO VELEZ">ALEJANDRO VELEZ</option>
                <option value="ANDRES VELEZ">ANDRES VELEZ</option>
                <option value="PAOLA COLORADO">PAOLA COLORADO</option>
                <option value="DAVID URIBE">DAVID URIBE</option>
                <option value="SIOMARA ARBOLEDA">SIOMARA ARBOLEDA</option>
                <option value="EDINSON JARAMILLO">EDINSON JARAMILLO</option>
                <option value="SANDRA CUADROS">SANDRA CUADROS</option>
                <option value="GILMA GARCIA">GILMA GARCIA</option>
                <option value="VALENTINA SANCHEZ">VALENTINA SANCHEZ</option>
                <option value="MARIA SERRANO">MARIA SERRANO</option>
                <option value="ADRIAN MONCADA">ADRIAN MONCADA</option>
                <option value="PABLO ARBELAEZ">PABLO ARBELAEZ</option>
                <option value="DANIELA BETANCUR">DANIELA BETANCUR</option>
                <option value="ANGELICA CARDONA">ANGELICA CARDONA</option>
                <option value="DANIEL ECHEVERRI">DANIEL ECHEVERRI</option>
              </select>
            </td>
          </tr>
          <!-- Tipo de Vacaciones -->
          <tr>
            <th>Tipo Vacaciones</th>
            <td>
              <select id="tipoVacaciones" class="form-control" [(ngModel)]="tipoVacaciones" name="tipoVacaciones"
                required [disabled]="formLocked" (ngModelChange)="onTipoVacacionesChange(); checkAndLock()">
                <option value="" disabled selected>Seleccione</option>
                <option value="DINERO">DINERO</option>
                <option value="TIEMPO">TIEMPO</option>
                <option value="AMBAS">AMBAS</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="employee-actions">
          <button type="button" class="btn btn-primary" (click)="generateVacation()"
            [disabled]="!showPanels">Generar</button>
          <button type="button" class="btn btn-secondary" (click)="cancelForm()">Cancelar</button>
        </div>
      </div>
      <div class="ingreso-card" style="margin-top:20px" *ngIf="showPanels">
        <h4>Comentarios</h4>
        <table class="table">
          <tr>
            <td>
              <textarea id="comentarios" class="form-control" [(ngModel)]="comentarios" name="comentarios" rows="3"
                placeholder="Agregar comentarios (opcional)"></textarea>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-box" *ngIf="showPanels">
      <!-- Vacaciones (Tiempo) -->
      <div class="section" *ngIf="isTiempo() || isAmbas()">
        <h4>VACACIONES (TIEMPO)</h4>
        <table class="table">
          <tr>
            <th>Fecha Inicio</th>
            <td>
              <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicio" />
            </td>
          </tr>
          <tr>
            <th>Fecha Fin</th>
            <td>
              <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" name="fechaFin" />
            </td>
          </tr>
          <tr>
            <th>Fecha Reintegro</th>
            <td>
              <input type="date" id="fechaReintegro" class="form-control" [(ngModel)]="fechaReintegro"
                name="fechaReintegro" />
            </td>
          </tr>
          <tr>
            <th>Cantidad Tiempo</th>
            <td>
              <input type="number" id="diasSolicitados" class="form-control" [(ngModel)]="diasSolicitados"
                name="diasSolicitados" min="0" placeholder="Número de días solicitados en tiempo" />
            </td>
          </tr>
        </table>
      </div>
      <!-- Vacaciones (Dinero) -->
      <div class="section" *ngIf="isDinero() || isAmbas()">
        <h4>VACACIONES (DINERO)</h4>
        <table class="table">
          <tr>
            <th>Cantidad Dinero</th>
            <td>
              <input type="number" id="vacacionesDinero" class="form-control" [(ngModel)]="vacacionesDinero"
                name="vacacionesDinero" min="0" placeholder="Número de días solicitados en dinero" />
            </td>
          </tr>
        </table>
      </div>
      <!-- Uso Exclusivo de Gestión Humana -->
      <div class="section">
        <h4>USO EXCLUSIVO DE GESTIÓN HUMANA</h4>
        <table class="table">
          <tr>
            <th>Fecha Inicio</th>
            <td>
              <input type="date" id="fecha1" class="form-control" [(ngModel)]="fecha1" name="fecha1" />
            </td>
          </tr>
          <tr>
            <th>Fecha Fin</th>
            <td>
              <input type="date" id="fecha2" class="form-control" [(ngModel)]="fecha2" name="fecha2" />
            </td>
          </tr>
          <tr>
            <th>Días Disfrutados</th>
            <td>
              <input type="number" id="diasDisfrutados" class="form-control" [(ngModel)]="diasDisfrutados"
                name="diasDisfrutados" min="0" placeholder="Número de días solicitados" />
            </td>
          </tr>
          <tr>
            <th>Días Pendientes</th>
            <td>
              <input type="number" id="diasPendientes" class="form-control" [(ngModel)]="diasPendientes"
                name="diasPendientes" min="0" placeholder="Número de días pendientes" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
