.content {
  margin-top: 60px;
}

.box {
  margin-bottom: 10px;
  background-color: #333;
  color: #ddd;
  font-size: 100px;
  text-align: center;
}

.box:hover {
  color: #ddd;
  background-color: #da0611;
}

.title {
  font-size: 17px;
  font-family: sans-serif;
  margin: 0;
}

.contenedor {
  margin-top: 18px;
}

.glyphicon-file {
  font-size: 110px;
}
