.topnav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #da0611;
  color: #fff;
}

.topnav a.topnav-logo {
  padding: 0;
}

.topnav a.topnav-logo:hover {
  background-color: #333;
  color: #f2f2f2;
}

.topnav a.topnav-logo img {
  padding-left: 20px;
  padding-right: 30px;
  height: 52px;
}

.topnav-menu {
  float: right;
  height: 52px;
  font-size: 35px;
  color: #ddd;
  padding-top: 9px;
  padding-right: 9px;
}


/* Responsive overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 52px;
  background-color: #666;
  /*rgb(0, 0, 0);*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
  text-align: center;
  position: relative;
  width: 100%;
}


/* The navigation links inside the overlay */

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

.overlay a.active {
  background-color: #da0611;
  color: #ddd;
}

.overlay a.overlay-children:after {
  color: inherit;
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  content: '\003e';
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 20px;
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
  color: #da0611;
}

.salir {
  position: absolute;
  bottom: 80px;
  font-size: 25px;
  color: #ddd;
  width: 100%;
  text-align: center;
}

.salir-desktop {
  color: #ddd;
  font-size: 25px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.salir-desktop:hover {
  color: #444;
  background-color: #ddd;
}

.selected-company {
  color: #ddd;
  right: 50px;
  position: absolute;
  font-size: 1.8em;
  top: 7px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
}
