<nav class="topnav visible-md visible-lg">
  <a [routerLink]="['/home']" class="topnav-logo"><img src="/assets/images/logo.png"/></a>
  <!--<a href="#" routerLinkActive="active">Sistema</a>-->
  <a href="#" routerLinkActive="active" [routerLink]="['/purchase-orders']">Recepción</a>
  <a href="#" routerLinkActive="active" [routerLink]="['/resupply']">Reabastecimiento</a>
  <a href="#" routerLinkActive="active" [routerLink]="['/sales-orders']">Órdenes</a>
  <a routerLinkActive="active" [routerLink]="['/picking']" href="#">Picking</a>
  <a routerLinkActive="active" [routerLink]="['/packing']" href="#">Packing</a>
  <a href="#" routerLinkActive="active" [routerLink]="['/inventory']">Inventario</a>
  <a href="#" routerLinkActive="active" [routerLink]="['/transfer']">Traslados</a>
  <span class="salir-desktop" (click)="cerrarSesion()">Salir <span class="glyphicon glyphicon-log-out"></span></span>
</nav>
<nav class="topnav visible-xs visible-sm">
  <a [routerLink]="['/home']" class="topnav-logo"><img src="/assets/images/logo.png"/></a>
  <span class="selected-company">[{{getSelectedCompany()}}]</span>
  <span id="menu-icon" class="topnav-menu glyphicon glyphicon-menu-hamburger" (click)="alternateNav()"></span>
</nav>
<div id="myNav" class="overlay visible-xs visible-sm">
  <!-- Overlay content -->
  <div class="overlay-content">
    <!--<a routerLinkActive="active" href="#">Sistema</a>-->
    <a routerLinkActive="active" [routerLink]="['/purchase-orders']">Recepción</a>
    <a routerLinkActive="active" [routerLink]="['/resupply']" href="#">Reabastecimiento</a>
    <a routerLinkActive="active" [routerLink]="['/sales-orders']" href="#">Asignar órdenes</a>
    <a routerLinkActive="active" [routerLink]="['/picking']" href="#">Picking</a>
    <a routerLinkActive="active" [routerLink]="['/packing']" href="#">Packing</a>
    <a routerLinkActive="active" [routerLink]="['/inventory']" href="#">Inventario</a>
    <a routerLinkActive="active" [routerLink]="['/transfer']" href="#">Traslados</a>
  </div>
  <span class="salir" (click)="cerrarSesion()">Salir <span class="glyphicon glyphicon-log-out"></span></span>
</div>
