<nav class="topnav" id="desktopNav">
  <a [routerLink]="['/home']" class="topnav-logo"><img src="/assets/images/{{logo}}" /></a>
  <a *ngIf="ticketTIModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/ticket-TI']">Ticket</a>
  <a *ngIf="collectionModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/collection']">Cartera</a>
  <a *ngIf="employeeModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/employee']">Empleado</a>
  <a *ngIf="fidelityProgramModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/program-fidelity']">ClubVip</a>
  <a *ngIf="geoLocationModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/geo-location']">Geolocalizador</a>
  <a *ngIf="compraTrackingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/report/comex/tracking']">Tracking</a>
  <a *ngIf="receptionModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/purchase-orders']">Recepción</a>
  <a *ngIf="inventoryModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/inventory']">Inventario</a>
  <a *ngIf="transferModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/transfer']">Traslados</a>
  <a *ngIf="ordersModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/sales-orders']">Ordenes</a>
  <a *ngIf="pickingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/picking']">Picking</a>
  <a *ngIf="packingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/packing']">Packing</a>
  <a *ngIf="shippingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/shipping']">Shipping</a>
  <span class="salir-desktop" (click)="cerrarSesion()">Salir <span class="icon-log-out"></span></span>
</nav>
<nav class="topnav" id="mobileNav">
  <a [routerLink]="['/home']" class="topnav-logo"><img src="/assets/images/{{logo}}" /></a>
  <span class="selected-company">[{{getSelectedCompany()}}]</span>
  <span id="menu-icon" class="topnav-menu glyphicon glyphicon-menu-hamburger" (click)="alternateNav()"></span>
</nav>
<div id="myNav" class="overlay">
  <div class="overlay-content">
    <a *ngIf="ticketTIModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/ticket-TI']">Ticket</a>
    <a *ngIf="collectionModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/collection']">Cartera</a>
    <a *ngIf="employeeModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/employee']">Empleado</a>
    <a *ngIf="fidelityProgramModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/program-fidelity']">ClubVip</a>
    <a *ngIf="geoLocationModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/geo-location']">Geolocalizador</a>
    <a *ngIf="receptionModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/purchase-orders']">Recepción</a>
    <a *ngIf="inventoryModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/inventory']">Inventario</a>
    <a *ngIf="transferModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/transfer']">Traslados</a>
    <a *ngIf="ordersModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/sales-orders']">Ordenes</a>
    <a *ngIf="pickingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/picking']">Picking</a>
    <a *ngIf="packingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/packing']">Packing</a>
    <a *ngIf="shippingModuleAccesible" href="#" routerLinkActive="active" [routerLink]="['/shipping']">Shipping</a>
    <a href="#"><span (click)="cerrarSesion()">Salir <span class="icon-log-out"></span></span></a>
  </div>
</div>
