@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tapyta');
  src:  url('fonts/icomoon.eot?tapyta#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tapyta') format('truetype'),
    url('fonts/icomoon.woff?tapyta') format('woff'),
    url('fonts/icomoon.svg?tapyta#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuffle:before {
  content: "\e980";
}
.icon-magnum1 .path1:before {
  content: "\e969";
  color: rgb(104, 104, 104);
}
.icon-magnum1 .path2:before {
  content: "\e96a";
  margin-left: -1.7138671875em;
  color: rgb(189, 189, 189);
}
.icon-magnum1 .path3:before {
  content: "\e96b";
  margin-left: -1.7138671875em;
  color: rgb(144, 144, 144);
}
.icon-magnum1 .path4:before {
  content: "\e96c";
  margin-left: -1.7138671875em;
  color: rgb(102, 102, 102);
}
.icon-magnum1 .path5:before {
  content: "\e96d";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-magnum1 .path6:before {
  content: "\e96e";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-magnum1 .path7:before {
  content: "\e96f";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-magnum1 .path8:before {
  content: "\e970";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-magnum1 .path9:before {
  content: "\e971";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-magnum1 .path10:before {
  content: "\e972";
  margin-left: -1.7138671875em;
  color: rgb(0, 0, 0);
}
.icon-shelving:before {
  content: "\e97f";
}
.icon-express:before {
  content: "\e97e";
}
.icon-tracking-uno:before {
  content: "\e966";
}
.icon-tracking-dos:before {
  content: "\e967";
}
.icon-tracking-tres:before {
  content: "\e968";
}
.icon-invoice:before {
  content: "\e961";
}
.icon-inventory-boxes:before {
  content: "\e95f";
}
.icon-transport:before {
  content: "\e960";
}
.icon-search-stock:before {
  content: "\e95e";
}
.icon-soul:before {
  content: "\e97d";
}
.icon-magnum2 .path1:before {
  content: "\e973";
  color: rgb(104, 104, 104);
}
.icon-magnum2 .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.icon-magnum2 .path3:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(144, 144, 144);
}
.icon-magnum2 .path4:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-magnum2 .path5:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-magnum2 .path6:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-magnum2 .path7:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-magnum2 .path8:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-magnum2 .path9:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-magnum2 .path10:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-lubricante:before {
  content: "\e962";
}
.icon-llanta:before {
  content: "\e963";
}
.icon-repuesto:before {
  content: "\e964";
}
.icon-accesorios:before {
  content: "\e965";
}
.icon-encuesta:before {
  content: "\e929";
}
.icon-mall:before {
  content: "\e928";
}
.icon-shop:before {
  content: "\e927";
}
.icon-modulares:before {
  content: "\e92d";
}
.icon-referido:before {
  content: "\e943";
}
.icon-cliente:before {
  content: "\e944";
}
.icon-sms1:before {
  content: "\e945";
}
.icon-correo:before {
  content: "\e946";
}
.icon-nuevo:before {
  content: "\e947";
}
.icon-facebook:before {
  content: "\e948";
}
.icon-instagram:before {
  content: "\e949";
}
.icon-volante:before {
  content: "\e94a";
}
.icon-sofas:before {
  content: "\e92a";
}
.icon-comedor:before {
  content: "\e92b";
}
.icon-sillas:before {
  content: "\e92c";
}
.icon-mesas:before {
  content: "\e92e";
}
.icon-complementos:before {
  content: "\e92f";
}
.icon-decoracion:before {
  content: "\e930";
}
.icon-habitacion:before {
  content: "\e931";
}
.icon-aromatica:before {
  content: "\e932";
}
.icon-agua:before {
  content: "\e933";
}
.icon-cafe:before {
  content: "\e934";
}
.icon-gaseosa:before {
  content: "\e935";
}
.icon-cerveza:before {
  content: "\e936";
}
.icon-whisky:before {
  content: "\e937";
}
.icon-te:before {
  content: "\e938";
}
.icon-cafe-helado:before {
  content: "\e939";
}
.icon-www:before {
  content: "\e93a";
}
.icon-uno:before {
  content: "\e93f";
}
.icon-dos-cuatro:before {
  content: "\e93b";
}
.icon-mas-cinco:before {
  content: "\e93c";
}
.icon-mujer:before {
  content: "\e93d";
}
.icon-hombre:before {
  content: "\e93e";
}
.icon-bisturi:before {
  content: "\e900";
}
.icon-caja_fuerte:before {
  content: "\e901";
}
.icon-tool_box:before {
  content: "\e902";
}
.icon-caja_menor:before {
  content: "\e903";
}
.icon-camisa:before {
  content: "\e904";
}
.icon-careta:before {
  content: "\e905";
}
.icon-cargador:before {
  content: "\e906";
}
.icon-cartera:before {
  content: "\e907";
}
.icon-chaqueta:before {
  content: "\e908";
}
.icon-e_mail:before {
  content: "\e909";
}
.icon-cuaderno:before {
  content: "\e90a";
}
.icon-cuenta_bancaria:before {
  content: "\e90b";
}
.icon-d_usb:before {
  content: "\e90c";
}
.icon-extension:before {
  content: "\e90d";
}
.icon-gafas:before {
  content: "\e90e";
}
.icon-guantes:before {
  content: "\e90f";
}
.icon-ipad:before {
  content: "\e910";
}
.icon-ipad_mini:before {
  content: "\e911";
}
.icon-metro:before {
  content: "\e912";
}
.icon-micropunta:before {
  content: "\e913";
}
.icon-opticon:before {
  content: "\e914";
}
.icon-pantalon:before {
  content: "\e915";
}
.icon-parker:before {
  content: "\e916";
}
.icon-pda:before {
  content: "\e917";
}
.icon-pilas:before {
  content: "\e918";
}
.icon-portaminas:before {
  content: "\e919";
}
.icon-p_oidos:before {
  content: "\e91a";
}
.icon-resaltador:before {
  content: "\e91b";
}
.icon-skype:before {
  content: "\e91c";
}
.icon-t_asus:before {
  content: "\e91d";
}
.icon-tapa_boca:before {
  content: "\e91e";
}
.icon-t_credito:before {
  content: "\e91f";
}
.icon-telefono:before {
  content: "\e920";
}
.icon-t_panasonic:before {
  content: "\e921";
}
.icon-usuarios:before {
  content: "\e922";
}
.icon-vonage:before {
  content: "\e923";
}
.icon-zapatos:before {
  content: "\e924";
}
.icon-radio_uncheck:before {
  content: "\e925";
}
.icon-radio_checked:before {
  content: "\e926";
}
.icon-block:before {
  content: "\e14b";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-warehouse-all:before {
  content: "\e7f1";
}
.icon-redo:before {
  content: "\e15a";
}
.icon-sms:before {
  content: "\e0d8";
}
.icon-tienda:before {
  content: "\e563";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-location-all:before {
  content: "\e1bd";
}
.icon-alert-triangle:before {
  content: "\e957";
}
.icon-arrow-left:before {
  content: "\e94d";
}
.icon-chevron-left:before {
  content: "\e95a";
}
.icon-chevron-right:before {
  content: "\e95b";
}
.icon-chevron-up:before {
  content: "\e959";
}
.icon-chevrons-right:before {
  content: "\e95c";
}
.icon-delete:before {
  content: "\e955";
}
.icon-download:before {
  content: "\e941";
}
.icon-edit-3:before {
  content: "\e95d";
}
.icon-eye:before {
  content: "\e94f";
}
.icon-eye-off:before {
  content: "\e950";
}
.icon-info:before {
  content: "\e952";
}
.icon-layers:before {
  content: "\e953";
}
.icon-log-out:before {
  content: "\e940";
}
.icon-package:before {
  content: "\e954";
}
.icon-plus-square:before {
  content: "\e942";
}
.icon-printer:before {
  content: "\e958";
}
.icon-refresh:before {
  content: "\e94c";
}
.icon-send:before {
  content: "\e94b";
}
.icon-settings:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e951";
}
.icon-groups:before {
  content: "\e956";
}
