@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmuoyr');
  src:  url('fonts/icomoon.eot?vmuoyr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmuoyr') format('truetype'),
    url('fonts/icomoon.woff?vmuoyr') format('woff'),
    url('fonts/icomoon.svg?vmuoyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e9b9";
}
.icon-fondo:before {
  content: "\e9b8";
}
.icon-femprobien:before {
  content: "\e9b7";
}
.icon-sold-out:before {
  content: "\e9b6";
}
.icon-TABLET:before {
  content: "\e9b4";
}
.icon-PDA:before {
  content: "\e9b5";
}
.icon-add-customer:before {
  content: "\e99f";
}
.icon-add-model:before {
  content: "\e9a0";
}
.icon-update-customer:before {
  content: "\e9a1";
}
.icon-update-model:before {
  content: "\e9a2";
}
.icon-ESCRITORIO:before {
  content: "\e997";
}
.icon-DIADEMAS:before {
  content: "\e993";
}
.icon-stop:before {
  content: "\e9af";
}
.icon-rec:before {
  content: "\e9b0";
}
.icon-microphone-off:before {
  content: "\e9b1";
}
.icon-microphone-on:before {
  content: "\e9b2";
}
.icon-microchip-ai:before {
  content: "\e9ad";
}
.icon-chatbot-ai:before {
  content: "\e9ae";
}
.icon-clock-sand:before {
  content: "\e9ac";
}
.icon-calculator:before {
  content: "\e9aa";
}
.icon-pdf:before {
  content: "\e9ab";
}
.icon-find-gift:before {
  content: "\e9a9";
}
.icon-reel:before {
  content: "\e9a5";
}
.icon-toilet-roll:before {
  content: "\e9a6";
}
.icon-printing:before {
  content: "\e9a7";
}
.icon-paper-roll:before {
  content: "\e9a8";
}
.icon-holidays:before {
  content: "\e9a3";
}
.icon-summer:before {
  content: "\e9a4";
}
.icon-file:before {
  content: "\e99d";
}
.icon-carta:before {
  content: "\e99e";
}
.icon-canje-tapas:before {
  content: "\e99c";
}
.icon-pick-express:before {
  content: "\e99a";
}
.icon-pick-order:before {
  content: "\e99b";
}
.icon-PARLANTES:before {
  content: "\e999";
}
.icon-UNIDADCD:before {
  content: "\e998";
}
.icon-CELULAR:before {
  content: "\e994";
}
.icon-TELEFONO:before {
  content: "\e995";
}
.icon-CPU:before {
  content: "\e996";
}
.icon-MOUSE:before {
  content: "\e98f";
}
.icon-MONITOR:before {
  content: "\e990";
}
.icon-TECLADO:before {
  content: "\e991";
}
.icon-PORTATIL:before {
  content: "\e992";
}
.icon-contract:before {
  content: "\e98d";
}
.icon-add-computer-2:before {
  content: "\e98a";
}
.icon-add-computer:before {
  content: "\e98b";
}
.icon-add-employee:before {
  content: "\e98c";
}
.icon-custody:before {
  content: "\e98e";
}
.icon-sap:before {
  content: "\e969";
}
.icon-modula:before {
  content: "\e984";
}
.icon-shuffle:before {
  content: "\e980";
}
.icon-rating-3:before {
  content: "\e978";
}
.icon-rating-2:before {
  content: "\e979";
}
.icon-rating-1:before {
  content: "\e97a";
}
.icon-rating:before {
  content: "\e97b";
}
.icon-post:before {
  content: "\e976";
}
.icon-sticky-note:before {
  content: "\e977";
}
.icon-repuestos:before {
  content: "\e972";
}
.icon-indrustry:before {
  content: "\e973";
}
.icon-motorcycle:before {
  content: "\e974";
}
.icon-auto:before {
  content: "\e975";
}
.icon-port:before {
  content: "\e96c";
}
.icon-harbor:before {
  content: "\e96d";
}
.icon-port_2:before {
  content: "\e96e";
}
.icon-freight:before {
  content: "\e96f";
}
.icon-container:before {
  content: "\e970";
}
.icon-container-truck:before {
  content: "\e971";
}
.icon-cruise:before {
  content: "\e96a";
}
.icon-boat:before {
  content: "\e96b";
}
.icon-codeqr:before {
  content: "\e983";
}
.icon-packing-list:before {
  content: "\e981";
}
.icon-delivery-list:before {
  content: "\e982";
}
.icon-shelving:before {
  content: "\e97f";
}
.icon-express:before {
  content: "\e97e";
}
.icon-tracking-uno:before {
  content: "\e966";
}
.icon-tracking-dos:before {
  content: "\e967";
}
.icon-tracking-tres:before {
  content: "\e968";
}
.icon-invoice:before {
  content: "\e961";
}
.icon-inventory-boxes:before {
  content: "\e95f";
}
.icon-transport:before {
  content: "\e960";
}
.icon-search-stock:before {
  content: "\e95e";
}
.icon-carenaje:before {
  content: "\e97c";
}
.icon-carenaje2:before {
  content: "\e985";
}
.icon-guardabarro:before {
  content: "\e986";
}
.icon-guardabarro2:before {
  content: "\e987";
}
.icon-tapaLateral:before {
  content: "\e988";
}
.icon-visorMoto:before {
  content: "\e989";
}
.icon-soul:before {
  content: "\e97d";
}
.icon-lubricante:before {
  content: "\e962";
}
.icon-llanta:before {
  content: "\e963";
}
.icon-repuesto:before {
  content: "\e964";
}
.icon-accesorios:before {
  content: "\e965";
}
.icon-encuesta:before {
  content: "\e929";
}
.icon-mall:before {
  content: "\e928";
}
.icon-shop:before {
  content: "\e927";
}
.icon-modulares:before {
  content: "\e92d";
}
.icon-referido:before {
  content: "\e943";
}
.icon-cliente:before {
  content: "\e944";
}
.icon-sms1:before {
  content: "\e945";
}
.icon-correo:before {
  content: "\e946";
}
.icon-nuevo:before {
  content: "\e947";
}
.icon-facebook:before {
  content: "\e948";
}
.icon-instagram:before {
  content: "\e949";
}
.icon-volante:before {
  content: "\e94a";
}
.icon-sofas:before {
  content: "\e92a";
}
.icon-comedor:before {
  content: "\e92b";
}
.icon-sillas:before {
  content: "\e92c";
}
.icon-mesas:before {
  content: "\e92e";
}
.icon-complementos:before {
  content: "\e92f";
}
.icon-decoracion:before {
  content: "\e930";
}
.icon-habitacion:before {
  content: "\e931";
}
.icon-aromatica:before {
  content: "\e932";
}
.icon-agua:before {
  content: "\e933";
}
.icon-cafe:before {
  content: "\e934";
}
.icon-gaseosa:before {
  content: "\e935";
}
.icon-cerveza:before {
  content: "\e936";
}
.icon-whisky:before {
  content: "\e937";
}
.icon-te:before {
  content: "\e938";
}
.icon-cafe-helado:before {
  content: "\e939";
}
.icon-www:before {
  content: "\e93a";
}
.icon-uno:before {
  content: "\e93f";
}
.icon-dos-cuatro:before {
  content: "\e93b";
}
.icon-mas-cinco:before {
  content: "\e93c";
}
.icon-mujer:before {
  content: "\e93d";
}
.icon-hombre:before {
  content: "\e93e";
}
.icon-bisturi:before {
  content: "\e900";
}
.icon-caja_fuerte:before {
  content: "\e901";
}
.icon-tool_box:before {
  content: "\e902";
}
.icon-caja_menor:before {
  content: "\e903";
}
.icon-camisa:before {
  content: "\e904";
}
.icon-careta:before {
  content: "\e905";
}
.icon-cargador:before {
  content: "\e906";
}
.icon-cartera:before {
  content: "\e907";
}
.icon-chaqueta:before {
  content: "\e908";
}
.icon-e_mail:before {
  content: "\e909";
}
.icon-cuaderno:before {
  content: "\e90a";
}
.icon-cuenta_bancaria:before {
  content: "\e90b";
}
.icon-d_usb:before {
  content: "\e90c";
}
.icon-extension:before {
  content: "\e90d";
}
.icon-gafas:before {
  content: "\e90e";
}
.icon-guantes:before {
  content: "\e90f";
}
.icon-ipad:before {
  content: "\e910";
}
.icon-ipad_mini:before {
  content: "\e911";
}
.icon-metro:before {
  content: "\e912";
}
.icon-micropunta:before {
  content: "\e913";
}
.icon-opticon:before {
  content: "\e914";
}
.icon-pantalon:before {
  content: "\e915";
}
.icon-parker:before {
  content: "\e916";
}
.icon-pda:before {
  content: "\e917";
}
.icon-pilas:before {
  content: "\e918";
}
.icon-portaminas:before {
  content: "\e919";
}
.icon-p_oidos:before {
  content: "\e91a";
}
.icon-resaltador:before {
  content: "\e91b";
}
.icon-skype:before {
  content: "\e91c";
}
.icon-t_asus:before {
  content: "\e91d";
}
.icon-tapa_boca:before {
  content: "\e91e";
}
.icon-t_credito:before {
  content: "\e91f";
}
.icon-telefono:before {
  content: "\e920";
}
.icon-t_panasonic:before {
  content: "\e921";
}
.icon-usuarios:before {
  content: "\e922";
}
.icon-vonage:before {
  content: "\e923";
}
.icon-zapatos:before {
  content: "\e924";
}
.icon-radio_uncheck:before {
  content: "\e925";
}
.icon-radio_checked:before {
  content: "\e926";
}
.icon-clip:before {
  content: "\e9b3";
}
.icon-block:before {
  content: "\e14b";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-warehouse-all:before {
  content: "\e7f1";
}
.icon-redo:before {
  content: "\e15a";
}
.icon-sms:before {
  content: "\e0d8";
}
.icon-tienda:before {
  content: "\e563";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-location-all:before {
  content: "\e1bd";
}
.icon-alert-triangle:before {
  content: "\e957";
}
.icon-arrow-left:before {
  content: "\e94d";
}
.icon-chevron-left:before {
  content: "\e95a";
}
.icon-chevron-right:before {
  content: "\e95b";
}
.icon-chevron-up:before {
  content: "\e959";
}
.icon-chevrons-right:before {
  content: "\e95c";
}
.icon-delete:before {
  content: "\e955";
}
.icon-download:before {
  content: "\e941";
}
.icon-edit-3:before {
  content: "\e95d";
}
.icon-eye:before {
  content: "\e94f";
}
.icon-eye-off:before {
  content: "\e950";
}
.icon-info:before {
  content: "\e952";
}
.icon-layers:before {
  content: "\e953";
}
.icon-log-out:before {
  content: "\e940";
}
.icon-package:before {
  content: "\e954";
}
.icon-plus-square:before {
  content: "\e942";
}
.icon-printer:before {
  content: "\e958";
}
.icon-refresh:before {
  content: "\e94c";
}
.icon-send:before {
  content: "\e94b";
}
.icon-settings:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e951";
}
.icon-groups:before {
  content: "\e956";
}
