<igb-navbar></igb-navbar>

<div id="modal_confirm_quantity_diff" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>La cantidad que ingresaste ({{pickedItemQuantity}}) es diferente de la cantidad esperada ({{nextItemQuantity}}).
                    ¿Deseas continuar?</p>
                <p *ngIf="pickedItemQuantity < nextItemQuantity">Si continúas, se enviará una notificación por inconsistencia en el inventario</p>
                <p *ngIf="pickedItemQuantity > nextItemQuantity">Si continúas, se ajustará automáticamente la cantidad en la orden de venta</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="confirmItemQuantity()">Sí, continuar</button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modal_change_picking_method" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Ya no hay más ítems pendientes por picking en la órden seleccionada. Se cambiará a modo de selección múltiple</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="changePickingMethod()">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Procesando transferencia</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modal_loading_next" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Cargando siguiente item</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_config" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <h4>Selecciona la forma de picking que prefieras</h4>
                    <input id="radio_multiple" type="radio" name="selectedPickingMethod" [(ngModel)]="selectedPickingMethod" value="multiple">
                    <label for="radio_multiple"> Múltiple</label>
                    <br>
                    <input id="radio_single" type="radio" name="selectedPickingMethod" [(ngModel)]="selectedPickingMethod" value="single">
                    <label for="radio_single"> Por órden</label>
                    <br>
                    <select class="form-control input-lg" *ngIf="selectedPickingMethod == 'single'" [(ngModel)]="selectedOrder" name="selectedOrder">
                        <option style="display:none" disabled value="">Selecciona una órden</option>
                        <option *ngFor="let order of assignedOrders" value="{{order.docNum}}">{{order.docNum}} - {{order.cardName}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-lg" (click)="choosePickingMethod()" [disabled]="selectedPickingMethod == pickingMethod || (selectedPickingMethod === 'single' && selectedOrder === '')">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal_bin_detail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <h4>Detalle ubicación {{nextBinLocationCode}}</h4>
                    <table class="table table-striped">
                        <tr>
                            <td>Almacén</td>
                            <td style="text-align: right;">{{getBinDetail('whs')}}</td>
                        </tr>
                        <tr>
                            <td>Área</td>
                            <td style="text-align: right;">{{getBinDetail('area')}}</td>
                        </tr>
                        <tr>
                            <td>Calle</td>
                            <td style="text-align: right;">{{getBinDetail('calle')}}</td>
                        </tr>
                        <tr>
                            <td>Módulo</td>
                            <td style="text-align: right;">{{getBinDetail('mod')}}</td>
                        </tr>
                        <tr>
                            <td>Nivel</td>
                            <td style="text-align: right;">{{getBinDetail('nivel')}}</td>
                        </tr>
                        <tr>
                            <td>Fila</td>
                            <td style="text-align: right;">{{getBinDetail('fila')}}</td>
                        </tr>
                        <tr>
                            <td>Columna</td>
                            <td style="text-align: right;">{{getBinDetail('col')}}</td>
                        </tr>
                        <tr>
                            <td>Profundidad</td>
                            <td style="text-align: right;">{{getBinDetail('prof')}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container content" *ngIf="errorMessagePickingCarts">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessagePickingCarts">
        {{errorMessagePickingCarts}}
    </div>
</div>

<div class="container content" *ngIf="!errorMessagePickingCarts">
    <div class="alert alert-warning" role="alert" *ngIf="warningMessageNoOrders">
        {{warningMessageNoOrders}}
    </div>
    
    <h3 *ngIf="!warningMessageNoOrders">Picking
        <span *ngIf="pickingMethod === 'multiple' && assignedOrders.length > 0"> ({{assignedOrders.length}} órdenes)</span>
        <span class="grayed-order" *ngIf="pickingMethod === 'multiple' && assignedOrders.length > 0"> - {{nextOrderNumber}}</span>
        <span *ngIf="pickingMethod === 'single'"> (orden #{{selectedOrder}})</span>
        <span class="glyphicon glyphicon-cog pull-right cursor-pointer" data-toggle="modal" data-target="#modal_config"></span>
    </h3>

    <div class="row" *ngIf="availableCarts.length > 0 && !warningMessageNoOrders">
        <div class="col-xs-12">
            <select class="form-control input-lg" [(ngModel)]="selectedCart" (change)="loadAvailablePickingCarts()">
                <option style="display:none" disabled value="0">Selecciona un carrito</option>
                <option *ngFor="let cart of availableCarts" value="{{cart.binAbs}}">{{cart.binName}} ({{cart.items}} refs, {{cart.pieces}} ítems)</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="selectedCart > 0">
        <div class="col-xs-12">
            <form (submit)="scanBinLocation()">
                <label *ngIf="!confirmingItemQuantity && nextBinLocationCode" for="binLocation">Escanea la ubicación
                    <span data-toggle="modal" data-target="#modal_bin_detail">{{nextBinLocationCode}}</span>
                </label>
                <label *ngIf="confirmingItemQuantity" for="binLocation">Tomando items desde
                    <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#modal_bin_detail"></span>
                </label>

                <div class="input-group" *ngIf="nextBinLocationCode">
                    <input id="binLocation" name="binLocation" class="form-control input-lg" type="text" [(ngModel)]="confirmBinCode" placeholder="escanea aquí"
                        autocomplete="off" [disabled]="confirmingItemQuantity">
                    <span class="input-group-btn">
                        <button class="btn btn-danger btn-lg" type="button" (click)="resetForm()" *ngIf="confirmingItemQuantity">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                        <button class="btn btn-default btn-lg" type="button" (click)="skipItem()" *ngIf="!confirmingItemQuantity">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errorMessageBinLocation">
                    {{errorMessageBinLocation}}
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="confirmingItemQuantity">
        <div class="col-xs-12">
            <div class="confirm-item">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>({{nextItemCode}}) {{nextItemName}}</h4>
                    </div>
                    <form (submit)="confirmItemCode()">
                        <div class="col-xs-12" *ngIf="!pickedItemCodeValidated">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" name="filter" placeholder="escanea la referencia" [(ngModel)]="pickedItemCode"
                                    autocomplete="off">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="button" (click)="confirmItemCode()" [disabled]="nextItemCode != pickedItemCode">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form (submit)="validatePickedQuantity()">
                        <div class="col-xs-12" *ngIf="pickedItemCodeValidated">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg">
                                        Toma {{getQuantityToPick()}}
                                    </button>
                                </span>
                                <input id="input_pickedQuantity" type="text" class="form-control input-lg" name="filter" placeholder="confirma la cantidad"
                                    [(ngModel)]="pickedItemQuantity" autocomplete="off">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="button" (click)="validatePickedQuantity()">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessageBinTransfer">
                            {{errorMessageBinTransfer}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>