<nav class="topnav visible-md visible-lg">
  <a class="topnav-logo"><img src="/assets/images/logo-mtz.png" /></a>
</nav>
<nav class="topnav visible-xs visible-sm">
  <a class="topnav-logo"><img src="/assets/images/logo-mtz.png" /></a>
</nav>
<div id="myNav" class="overlay visible-xs visible-sm">
</div>

<script src="assets/js/scroll.js"></script>

<!--Modal procesadndo-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="scrollTop" id="btnScrollTop" (click)="getScrollTop();" title="Arriba"><span
    class="icon-chevron-up"></span></button>

<div class="container content">
  <div class="row" *ngIf="errorMessage != null && errorMessage.length > 0">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="exitMessage != null && exitMessage.length > 0">
    <div class="col-xs-12">
      <div class="alert alert-success" role="alert">
        <p>{{exitMessage}}</p>
      </div>
    </div>
  </div>
  <h3>Cliente Feria</h3>
  <hr>
  <form id="form">
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input id="data" type="checkbox" name="authorizeData" [(ngModel)]="authorizeData" (change)="getData()">
        <label for="data" class="lblData">Autoriza a Motozone S.A.S al uso de los datos.<br />
          <i>(Artículo 20 Decreto Reglamentario 1377 de 2013 de la Ley de Habeas Data)</i></label>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="text" id="txtContact" class="form-control input-lg" [(ngModel)]="contact" autocomplete="off"
          name="contact" autocorrect="off" autocapitalize="none" placeholder="Nombre completo"
          [class.required-field]="!validContact" [disabled]="!authorizeData" required>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="text" class="form-control input-lg" [(ngModel)]="whsName" autocomplete="off" name="whsName"
          autocorrect="off" autocapitalize="none" placeholder="Nombre del almacén" [disabled]="!authorizeData">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="number" class="form-control input-lg" [(ngModel)]="document" autocomplete="off" name="document"
          [class.required-field]="!validDocument" autocorrect="off" autocapitalize="none" placeholder="Cc o Nit"
          [disabled]="!authorizeData" required>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <select id="region" class="form-control input-lg" [(ngModel)]="selectedRegion" name="selectedRegion"
          [class.required-field]="!validSelectRegion" [disabled]="!authorizeData" required>
          <option style="display:none" disabled selected value="">Selecciona una región</option>
          <option value="CENTRAL">Central</option>
          <option value="NORTE">Norte</option>
          <option value="ORIENTAL">Oriental</option>
          <option value="SUR">Sur</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="text" class="form-control input-lg" [(ngModel)]="city" autocomplete="off" name="city"
          autocorrect="off" autocapitalize="none" placeholder="Ciudad" [disabled]="!authorizeData">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="number" class="form-control input-lg" [(ngModel)]="phone" autocomplete="off" name="phone"
          autocorrect="off" autocapitalize="none" placeholder="Teléfono de contacto"
          [class.required-field]="!validPhone" [disabled]="!authorizeData" required>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <input type="email" class="form-control input-lg" [(ngModel)]="mail" autocomplete="off" name="mail"
          autocorrect="off" autocapitalize="none" placeholder="Correo electrónico"
          pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
          [class.required-field]="!validMail" [disabled]="!authorizeData" required>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 margin-bottom-10">
        <select id="asesor" class="form-control input-lg" [(ngModel)]="selectedAsesor" name="selectedAsesor"
          [class.required-field]="!validSelectAsesor" [disabled]="!authorizeData" required>
          <option style="display:none" disabled selected value="">Selecciona un asesor</option>
          <option value="ADRIÁN MONCADA">ADRIÁN MONCADA</option>
          <option value="ANGIE PEÑA">ANGIE PEÑA</option>
          <option value="ALEJANDRA MONSALVE">ALEJANDRA MONSALVE</option>
          <option value="CLAUDIA FERNANDEZ">CLAUDIA FERNANDEZ</option>
          <option value="DIANA LONDOÑO">DIANA LONDOÑO</option>
          <option value="FERNEY DIAZ">FERNEY DIAZ</option>
          <option value="HORACIO OROZCO">HORACIO OROZCO</option>
          <option value="JULIAN ESTRADA">JULIAN ESTRADA</option>
          <option value="LAURA USME">LAURA USME</option>
          <option value="LAURA APARICIO">LAURA APARICIO</option>
          <option value="NESTOR GIRALDO">NESTOR GIRALDO</option>
          <option value="OSCAR CARVAJAL">OSCAR CARVAJAL</option>
          <option value="ORNELLA OJEDA">ORNELLA OJEDA</option>
          <option value="SANTIAGO AGUILAR">SANTIAGO AGUILAR</option>
          <option value="SEBASTIAN USUGA">SEBASTIAN USUGA</option>
          <option value="VALENTINA SANCHEZ">VALENTINA SANCHEZ</option>
          <option value="VALENTINA ESCOBAR">VALENTINA ESCOBAR</option>
          <option value="WENDY VELAZQUES">WENDY VELAZQUES</option>
        </select>
      </div>
    </div>
    <br />
    <label for="interes">Interesado en lubricantes para:</label>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="interes" [class.selected]="selected.has(0)" (click)="selectedInteres(0,'Partes Plásticas')">
          <span class="icon-guardabarro2" style="font-size: 100px"></span>
          <h3 class="title">Partes Plásticas</h3>
        </div>
      </div>
      <!--<div class="col-xs-6 col-md-3">
        <div class="interes" [class.selected]="selected.has(1)" (click)="selectedInteres(1,'Lubricante Industrial')">
          <span class="icon-indrustry" style="font-size: 100px"></span>
          <h3 class="title">Industrial</h3>
        </div>
      </div>-->
      <div class="col-xs-6 col-md-4">
        <div class="interes" [class.selected]="selected.has(2)" (click)="selectedInteres(2,'Repuestos')">
          <span class="icon-repuestos" style="font-size: 100px"></span>
          <h3 class="title">Repuestos</h3>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="interes" [class.selected]="selected.has(3)" (click)="selectedInteres(3,'Llantas')">
          <span class="icon-llanta" style="font-size: 100px"></span>
          <h3 class="title">Llantas</h3>
        </div>
      </div>
    </div>
    <hr>
    <br />
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-danger btn-lg" type="button" (click)="clearForm()" [disabled]="!authorizeData">
          Limpiar
        </button>
        <button class="btn btn-default btn-lg" style="float:right;" type="button" (click)="captureClient()"
          [disabled]="!authorizeData">
          Enviar
        </button>
      </div>
    </div>
    <br />
  </form>
</div>
