.content {
  margin-top: 60px;
}

.interes {
  height: 175px;
  margin-bottom: 10px;
  background-color: #333;
  color: #ddd;
  text-align: center;
  padding-top: 17px;
}

.interes.unauthorized {
  color: #ddd;
  background-color: #da0611;
}

.interes.selected {
  background-color: #da0611;
}

.confirm-item {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.ng-valid[required],
.ng-valid.required {
  border-color: #6D9197
}

.ng-touched.ng-invalid[required],
.ng-untouched.ng-pristine.ng-invalid[required].required-field {
  border-color: #c21d17;
}

.input-focus {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.grayed-order {
  color: #999;
}

.scrollTop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.scrollTop:hover {
  background-color: #333;
}

.lblData {
  display: contents;
  font-weight: initial;
}

/*Menu*/
.topnav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #da0611;
  color: #fff;
}

.topnav a.topnav-logo {
  padding: 0;
}

.topnav a.topnav-logo:hover {
  background-color: #333;
  color: #f2f2f2;
}

.topnav a.topnav-logo img {
  padding-left: 20px;
  padding-right: 30px;
  height: 52px;
}

.topnav-menu {
  float: right;
  height: 52px;
  font-size: 35px;
  color: #ddd;
  padding-top: 9px;
  padding-right: 9px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 52px;
  background-color: #666;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  text-align: center;
  position: relative;
  width: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.overlay a.active {
  background-color: #da0611;
  color: #ddd;
}

.overlay a.overlay-children:after {
  color: inherit;
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  content: '\003e';
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 20px;
}

.overlay a:hover,
.overlay a:focus {
  color: #da0611;
}

.salir {
  position: absolute;
  bottom: 80px;
  font-size: 25px;
  color: #ddd;
  width: 100%;
  text-align: center;
}

.salir-desktop {
  color: #ddd;
  font-size: 25px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.salir-desktop:hover {
  color: #444;
  background-color: #ddd;
}

.selected-company {
  color: #ddd;
  right: 50px;
  position: absolute;
  font-size: 1.8em;
  top: 7px;
}

.recording-visualizer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
  gap: 4px;
  margin-bottom: 10px;
}

.recording-visualizer .bar {
  width: 6px;
  background-color: #da0611;
  animation: bounce 1s infinite ease-in-out;
  border-radius: 4px;
}

.recording-visualizer .bar:nth-child(1) {
  animation-delay: 0s;
}

.recording-visualizer .bar:nth-child(2) {
  animation-delay: 0.1s;
}

.recording-visualizer .bar:nth-child(3) {
  animation-delay: 0.2s;
}

.recording-visualizer .bar:nth-child(4) {
  animation-delay: 0.3s;
}

.recording-visualizer .bar:nth-child(5) {
  animation-delay: 0.4s;
}

.microphone-on {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.microphone-off {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #da0611;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

/*Activar animación barras*/
@keyframes bounce {

  0%,
  100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
}
