.content {
  margin-top: 60px;
}

.order {
  height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.order:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(200,200,200);
}

.order .order-number::before {
  content: 'Órden #';
}

.order .order-number {
  font-size: 18px;
  position: absolute;
  top: 5px;
  width: 80%;
  text-align: center;
}

.order .order-items::before {
  font-weight: bold;
  font-size: 11px;
  content: 'Refs: ';
}

.order .order-items {
  position: absolute;
  top: 35px;
  width: 80%;
  /*text-align: center;*/
  left: 20px;
}

.order .order-docdate {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 11px;
}

.order .order-cardcode::before {
  font-weight: bold;
  font-size: 11px;
  content: 'Documento: ';
  display: block;
}

.order .order-cardcode {
  border-top: 1px solid #ddd;
  position: absolute;
  top: 60px;
  width: 80%;
  left: 20px;
}

.order .order-cardname::before {
  font-weight: bold;
  font-size: 11px;
  content: 'Nombre: ';
  display: block;
}

.order .order-cardname {
  position: absolute;
  top: 100px;
  width: 80%;
  left: 20px;
}
