<igb-navbar></igb-navbar>

<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal confirmacion-->
<div id="confirmation_picking" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>
          <b>¿Estás seguro que deseas crear entrega express?</b><br />Al hacerlo, se crearán la entrega y se cerrara el
          packing para los ítems.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="clearOrder()"
          style="float: left;">No</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="getModalPickingExpress()">Sí</button>
      </div>
    </div>
  </div>
</div>
<!--Modal procesar entrega express-->
<div id="process_picking_express" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearOrder()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Procesando entrega express</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <span *ngIf="processDeliveryStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
            <img *ngIf="processDeliveryStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
            <span *ngIf="processDeliveryStatus === 'done'" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="processDeliveryStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="status-text">Creando entrega express </span><i *ngIf="processDeliveryStatus === 'done'"
              style="font-size: 12px; color: #da0611;">({{docEntryDelivery}})</i>
          </div>
        </div>
        <br />
        <div class="row" *ngIf="deliveryErrorMessage">
          <div class="col-xs-12">
            <div class="alert alert-danger">
              {{deliveryErrorMessage}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button *ngIf="deliveryErrorMessage" class="btn btn-danger btn-lg" type="button" data-dismiss="modal"
              (click)="resetSesionId()" [disabled]="inProgress()"><span class="icon-refresh"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button *ngIf="selectedOrders.size == 1 && pickingExpressModuleAccesible" type="button" class="express-picking"
  id="btnExpressPicking" data-toggle="modal" data-target="#confirmation_picking" title="Crear Entrega">
  <span class="icon-delivery-list" style="font-size: 40px;"></span>
</button>

<button type="button" class="scrollTop" id="btnScrollTop" (click)="getScrollTop();" title="Arriba"><span
    class="icon-chevron-up"></span></button>

<div class="container content">
  <div class="row">
    <div class="col-xs-12">
      <h3>Ordenes de Modula pendientes</h3>
    </div>
  </div>
  <div class="row" *ngIf="pickExpressErrorMessage">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        {{pickExpressErrorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="input-group">
          <input type="text" class="form-control input-lg" id="filter" name="filter" placeholder="Escribe para filtrar"
            [(ngModel)]="filter" (keyup)="filterOrders(false)" autocomplete="off" />
          <span class="input-group-btn">
            <button type="button" [class.box]="filterGroup" class="btn btn-default btn-lg"
              (click)="filterGroupOrders()">
              <span class="icon-groups" title="Filtrar grupos"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert" *ngIf="salesOrderMessage">
        {{salesOrderMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngFor="let order of filteredOrders">
      <div class="order" [class.warning]="order.status == 'warning'" [class.identity]="order.cardCode == 'C900998242'"
        [class.identity-2]="order.cardCode == 'C900640419'"
        [class.unauthorized]="order.confirmed === 'N' || order.address.length === 0 || order.transp.length === 0"
        [class.selected]="selectedOrders.has(order.docNum)" (click)="selectOrder(order)">
        <div class="row">
          <div class="col-sm-4">
            <div class="date"><b>{{order.docDate}}</b></div>
          </div>
          <div class="col-sm-4" style="min-height: 24px;">
            <div class="order-num"><b>MDL {{order.docNum}}</b></div>
          </div>
          <div class="col-sm-4"><span *ngIf="order.status == 'warning'"
              class="glyphicon glyphicon-warning-sign warn"></span>
            <div class="assigned-employee" *ngIf="order.assignedPickingEmployee"><span class="icon-user"
                style="font-size: 18px;"></span>{{order.assignedPickingEmployee}}</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2 col-xs-3">
            <p><b>Refs </b><span class="badge">{{order.items}}</span></p>
            <hr>
            <p><b>Cliente</b><br>{{order.cardCode}}</p>
          </div>
          <div class="col-sm-10 col-xs-9">
            <p><b>Comentarios</b></p>
            <hr>
            <p>{{order.comments}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>{{order.cardName}}</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <p><b>{{order.address}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>