<igb-navbar></igb-navbar>

<div class="container content">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box" [routerLink]="['/shipping/invoice-shipping']">
        <div class="icon-wrap">
          <span class="icon-search-stock"></span>
        </div>
        <h4 class="title">Facturas pendientes por shipping</h4>
      </div>
    </div>
    <div *ngIf="selectedCompany == 'IGB'" class="col-xs-12 col-md-6">
      <div class="box" [routerLink]="['/shipping/load-guides']">
        <div class="icon-wrap">
          <span class="glyphicon glyphicon-level-up"></span>
        </div>
        <h4 class="title">Cargue Guías Transportadora</h4>
      </div>
    </div>
  </div>
</div>
