.content {
  margin-top: 60px;
}

.confirm-item {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.input-focus {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.grayed-order {
  color: #999;
}

.radioLoc {
  border-radius: 6px 0px 0px 6px;
}
