<igb-navbar></igb-navbar>

<!--Modal seleccinar modo picking-->
<div id="modal_assign_order" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-body">
          <h4>Selecciona una órden</h4>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal"
            style="float: left;">Cancelar</button>
          <button type="submit" class="btn btn-primary btn-lg" (click)="choosePickingMethod()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="container content">
  <h3>Picking Express
    <span class="icon-settings pull-right cursor-pointer" data-toggle="modal" data-target="#modal_assign_order"
      title="Seleccionar Orden"></span>
  </h3>
</div>
