<igb-navbar></igb-navbar>
<!--Modal procesadndo-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal confimar cantidad diferente-->
<div id="modal_confirm_quantity_diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>La cantidad ingresada ({{pickedItemQuantity}}) es diferente de la cantidad solicitada por el cliente
          ({{nextItemQuantity}}).</p>
        <p *ngIf="pickedItemQuantity != nextItemQuantity">Si continúas, se reportara como inconsistencia en el
          inventario. ¿Deseas continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="confirmItemQuantity()">Sí, continuar</button>
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal seleccinar modo picking-->
<div id="modal_assign_delivery" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cleanDataDelivery()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Pendientes por picking list express</h4>
      </div>
      <div class="modal-body">
        <select class="form-control input-lg" [(ngModel)]="selectedDelivery" name="selectedDelivery"
          [class.required-field]="!validSelectedDelivery" required>
          <option style="display:none" disabled value="">Selecciona una entrega</option>
          <option *ngFor="let delivery of deliveries" value="{{delivery[0]}}">Ent({{delivery[0]}}) Ord({{delivery[1]}})
            {{delivery[2]}}
          </option>
        </select>
        <br />
        <select name="selectedUser" class="form-control input-lg" [(ngModel)]="selectedUser" name="selectedUser"
          [class.required-field]="!validSelectedUser" required>
          <option style="display:none" disabled value="">Seleccione un empleado</option>
          <option *ngFor="let employee of assignableUsers" [value]="employee.username">{{employee.completeName}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" (click)="startPickingListExprees()"
          [disabled]="selectedDelivery.length <= 0 || selectedUser.length <= 0">Asignar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal detalle ubicacion-->
<div id="modal_bin_detail" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-body">
          <h4>Detalle ubicación {{nextBinLocationCode}}</h4>
          <table class="table table-striped">
            <tr>
              <td>Almacén</td>
              <td style="text-align: right;">{{getBinDetail('whs')}}</td>
            </tr>
            <tr>
              <td>Área</td>
              <td style="text-align: right;">{{getBinDetail('area')}}</td>
            </tr>
            <tr>
              <td>Calle</td>
              <td style="text-align: right;">{{getBinDetail('calle')}}</td>
            </tr>
            <tr>
              <td>Módulo</td>
              <td style="text-align: right;">{{getBinDetail('mod')}}</td>
            </tr>
            <tr>
              <td>Nivel</td>
              <td style="text-align: right;">{{getBinDetail('nivel')}}</td>
            </tr>
            <tr>
              <td>Fila</td>
              <td style="text-align: right;">{{getBinDetail('fila')}}</td>
            </tr>
            <tr>
              <td>Columna</td>
              <td style="text-align: right;">{{getBinDetail('col')}}</td>
            </tr>
            <tr>
              <td>Profundidad</td>
              <td style="text-align: right;">{{getBinDetail('prof')}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container content" *ngIf="errorMessagePickingCarts">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessagePickingCarts">
    {{errorMessagePickingCarts}}
  </div>
</div>
<div class="container content" *ngIf="!errorMessagePickingCarts">
  <div class="row">
    <div class="col-xs-12">
      <h3>Picking List Express
        <span *ngIf="selectedDelivery!=''">({{selectedDelivery}})</span>
        <span *ngIf="activeBtnConfig" class="icon-settings pull-right cursor-pointer" (click)="listOpenDelivery()"
          data-toggle="modal" data-target="#modal_assign_delivery" title="Seleccionar Entrega"></span>
      </h3>
    </div>
    <div class="col-xs-12" *ngIf="!activeBtnConfig">
      <h4>Orden {{nextTypeOrderNumber}} #{{nextOrderNumber}}</h4>
    </div>
  </div>
  <div class="row" *ngIf="warningMessageNoOrders">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        {{warningMessageNoOrders}}
      </div>
    </div>
  </div>
  <div class="row" *ngIf="errorMessageNextItem">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        {{errorMessageNextItem}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <label *ngIf="confirmingItemQuantity && nextBinLocationCode" for="binLocation">
            Procesando {{nextItemQuantity}} unidades del ítem {{nextItemCode}} ({{nextItemName}})
          </label>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12">
          <label *ngIf="confirmingItemQuantity && nextBinLocationCode" for="binLocation">Escanea la ubicación
            <span (click)="getBinLocation(nextBinLocationCode)">{{nextBinLocationCode}}</span>
            <span class="icon-info" data-toggle="modal" data-target="#modal_bin_detail"></span>
            [{{nextBinType}}]
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input *ngIf="!confirmingItem" id="binLoc" name="binLocation" class="form-control input-lg"
              [ngClass]="{ 'radioLoc': confirmingItemQuantity }" type="text" [(ngModel)]="confirmBinCode"
              placeholder="Escanea aquí" autocomplete="off" [disabled]="confirmingItemQuantity">
            <span class="input-group-btn">
              <button class="btn btn-danger btn-lg danger" type="button" (click)="resetForm()" *ngIf="!confirmingItem">
                <span class="glyphicon glyphicon-erase"></span>
              </button>
            </span>
          </div>
          <div id="location" class="input-focus">
            <form (submit)="scanBinLocation()">
              <input id="binLoc" name="binLocation" class="form-control input-lg" type="text"
                [(ngModel)]="confirmBinCode" placeholder="Escanea aquí" autocomplete="off">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div id="item" class="input-focus">
      <div class="col-xs-12">
        <div class="confirm-item">
          <div class="row">
            <div class="col-xs-12">
              <h5><span (click)="getPickedItemCode(nextItemCode)">({{nextItemCode}}) {{nextItemName}}</span></h5>
            </div>
            <div class="col-xs-12" *ngIf="!pickedItemCodeValidated">
              <div class="input-group">
                <form (submit)="confirmItemCode()">
                  <input id="input_pickedItem" type="text" class="form-control input-lg" name="filter"
                    placeholder="Escanea la referencia" [(ngModel)]="pickedItemCode" autocomplete="off"
                    style="border-radius: 6px 0px 0px 6px;">
                </form>
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-lg" type="button" (click)="confirmItemCode()">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </span>
              </div>
            </div>
            <div id="qty" class="input-focus">
              <div class="col-xs-12">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-lg">
                      Toma {{nextItemQuantity}}
                    </button>
                  </span>
                  <form (submit)="validatePickedQuantity()">
                    <input id="input_pickedQuantity" type="text" class="form-control input-lg" name="filter"
                      placeholder="confirma la cantidad" [(ngModel)]="pickedItemQuantity" autocomplete="off">
                  </form>
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button" (click)="validatePickedQuantity()">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
