<igb-navbar></igb-navbar>

<div id="confirm_add" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Vas a agregar {{itemQuantity}} unidades del item {{itemCode}} a {{boxes.length > 0 ? boxes[addToBox].boxDisplayName : ''}}.
                    ¿Deseas continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="addItemToBox()">Sí, continuar</button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="container content">
    <h3>Packing </h3>

    <div class="row">
        <div class="col-xs-12">
            <label for="cliente">Cliente</label>
            <select id="cliente" class="form-control input-lg" [(ngModel)]="selectedCustomer" name="selectedCustomer" (change)="loadCustomerOrders()">
                <option style="display:none" disabled value="">Selecciona un cliente</option>
                <option *ngFor="let customer of customersList" value="{{customer[0]}}"> {{customer[1]}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="ordersList && ordersList.length > 0">
        <div class="col-xs-12">
            <label for="orderNumber">Orden</label>
            <select id="orderNumber" class="form-control input-lg" [(ngModel)]="selectedOrder" name="selectedOrder" >
                <option style="display:none" disabled value="0">Selecciona una orden</option>
                <option *ngFor="let order of ordersList" value="{{order}}">{{order}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *ngIf="selectedOrder && !isVisibleItemCode">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Escanea el carrito</h4>
                </div>
                <div class="col-xs-12">
                    <form (submit)="validateScannedBin()">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" autocomplete="off" name="binlocation" placeholder="escanea el carrito" [(ngModel)]="binCode">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateScannedBin()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-12" *ngIf="isVisibleItemCode">
            <div class="row">
                <div class="col-xs-12" *ngIf="!packedItemCodeValidated">
                    <h4>{{binCode}} &gt; Escanea el ítem </h4>
                </div>
                <form (submit)="validateScannedItem()">
                    <div class="col-xs-12" *ngIf="!packedItemCodeValidated">
                        <div class="input-group">
                            <input id="txt_itemcode" type="text" class="form-control input-lg" autocomplete="off" name="itemcode" placeholder="escanea la referencia"
                                [(ngModel)]="itemCode">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateScannedItem()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="col-xs-12" *ngIf="packedItemCodeValidated">
                    <h4>{{binCode}} &gt; {{itemCode}} &gt; Ingresa la cantidad</h4>
                </div>
                <form (submit)="validateItemQuantity()">
                    <div class="col-xs-12" *ngIf="packedItemCodeValidated">
                        <div class="input-group">
                            <input id="input_packedQuantity" type="number" class="form-control input-lg" name="filter" placeholder="confirma la cantidad"
                                [(ngModel)]="itemQuantity" [disabled]="packedItemQuantityValidated" autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateItemQuantity()" >
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12" *ngIf="quantityErrorMessage">
                        <div class="alert alert-danger">
                            {{quantityErrorMessage}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row" *ngIf="packedItemQuantityValidated">
        <div class="col-xs-12">
            <h4>¿En cuál caja deseas empacar?</h4>
        </div>
        <div class="col-xs-4" *ngFor="let box of boxes; let idx = index">
            <div class="packing-box">
                <span class="box-number">{{box.boxDisplayName}}</span>
                <span class="box-quantity">{{box.boxQuantity}} items</span>
                <span class="add-to-box">
                    <button class="btn btn-default" type="button" (click)="confirmAddToBox(idx)" [disabled]="packedItemQuantity <= 0 || packedItemQuantity > nextItemQuantity">
                        Aquí <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="packing-box new-box" (click)="addBox()" [class.new-box-disabled]="!addNewBoxEnabled">
                <span>Nueva caja</span>
            </div>
        </div>

        <div class="col-xs-12">
            <span class="input-group-btn">
                <button class="btn btn-danger btn-lg" type="button" (click)="confirmItemQuantity()" [disabled]="packedItemQuantity > nextItemQuantity">
                    Finalizar
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </span>
        </div>
    </div>
</div>