<igb-navbar></igb-navbar>
<!--Modal confirmacion-->
<div id="close_confirmation" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <b>¿Estás seguro que deseas finalizar?</b> Al hacerlo, se crearán la entrega y factura para los
                    ítems empacados
                    y se imprimirán las etiquetas. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="loadPrinters()">Sí, finalizar</button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal imprimir-->
<div id="printer_selection" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="printer">Se imprimirá en</label>
                        <select id="printer" class="form-control input-lg" [(ngModel)]="selectedPrinter" name="selectedPrinter">
                            <option style="display:none" disabled value="">Selecciona una impresora</option>
                            <option *ngFor="let printer of printersList" value="{{printer.printServiceName}}">
                                {{printer.printerName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="createDelivery()">Continuar</button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="cleanItemTable()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal estado procesos-->
<div id="process_status" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <img *ngIf="processDeliveryStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
                        <span *ngIf="processDeliveryStatus === 'done'" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="processDeliveryStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="status-text">Creación entrega</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span *ngIf="processInvoiceStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
                        <img *ngIf="processInvoiceStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
                        <span *ngIf="processInvoiceStatus === 'done'" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="processInvoiceStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="status-text">Creación factura</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span *ngIf="processClosePackingOrderStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
                        <img *ngIf="processClosePackingOrderStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
                        <span *ngIf="processClosePackingOrderStatus === 'done'" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="processClosePackingOrderStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="status-text">Finalización packing</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span *ngIf="processPrintLabelsStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
                        <img *ngIf="processPrintLabelsStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
                        <span *ngIf="processPrintLabelsStatus === 'done'" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="processPrintLabelsStatus === 'warn'" class="glyphicon glyphicon-warning-sign"></span>
                        <span *ngIf="processPrintLabelsStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="status-text">Impresión de etiquetas</span>
                    </div>
                </div>
                <div class="row" *ngIf="deliveryErrorMessage">
                    <div class="col-xs-12">
                        <div class="alert alert-danger">
                            {{deliveryErrorMessage}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" [disabled]="inProgress()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Procesando transferencia</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmar cantidad en cajas-->
<div id="confirm_add" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Vas a agregar {{itemQuantity}} unidades del item {{itemCode}} a {{boxes.length > 0 ?
                    boxes[addToBox].boxDisplayName
                    : ''}}. ¿Deseas continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="addItemToBox()">Sí, continuar</button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal items pendientes por empacar-->
<div id="order_items" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span *ngIf="orderItemsList.length == 0">No hay items pendientes por empacar</span>
                <table *ngIf="orderItemsList.length > 0" class="table table-striped">
                    <tr>
                        <th>Carrito</th>
                        <th>Referencia</th>
                        <th style="text-align: right;">Cantidad</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let row of orderItemsList">
                        <td>{{row[1]}}
                            <span class="bin-code"> ({{row[0]}})</span>
                        </td>
                        <td>{{row[3]}}</td>
                        <td style="text-align: right;">{{row[2]}}</td>
                        <td class="pointer-cursor" style="text-align: center; border-left: 1px solid #DDDDDD; cursor: pointer;"
                            (click)="selectItemTable(row)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmar cantidad-->
<div id="cantidad" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form (submit)="validateItemQuantity()">
                            <input id="input_packedQuantity" type="number" class="form-control input-lg" name="filter"
                                placeholder="Confirme cantidad" [(ngModel)]="itemQuantity" autocomplete="off">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="cleanItemTable()">Cerrar</button>
                <button type="button" class="btn btn-primary btn-lg" (click)="validateItemQuantity()">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--Modal detalle items caja-->
<div id="packing_detail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="selectedBox">
                <span *ngIf="selectedBoxItems.size == 0">No hay items en la caja {{selectedBox+1}}</span>
                <table *ngIf="selectedBoxItems.size > 0" class="table table-striped">
                    <tr>
                        <th>Ref</th>
                        <th>Cantidad</th>
                    </tr>
                    <tr *ngFor="let key of selectedBoxItems.keys()">
                        <td>{{key}}</td>
                        <td>{{selectedBoxItems.get(key)}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal detalle orden-->
<div id="magicTable" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table table-striped" *ngIf="specialPacking != null && specialPacking.length > 0">
                    <tr>
                        <th>Cliente</th>
                        <th>Orden</th>
                        <th>Carro</th>
                        <th>Ítem</th>
                        <th>Cant</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let special of specialPacking">
                        <td>({{special[[0]]}}) {{special[1]}}</td>
                        <td>{{special[2]}}</td>
                        <td>{{special[4]}} <span class="bin-code">({{special[5]}})</span></td>
                        <td>{{special[3]}}</td>
                        <td style="text-align: right;">{{special[7]}}</td>
                        <td class="pointer-cursor" style="text-align: center; border-left: 1px solid #DDDDDD; cursor: pointer;"
                            (click)="selectItemMagicTable(special)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal notificación error-->
<div id="clean_confirmation" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <b>Ha ocurrido un error en el proceso de packing y Wali debe cancelarlo.</b>
                    Será necesario que los procesos de empaque, impresión de etiquetas, impresión de packing list,
                    creación de entrega y factura en SAP se realicen de manera manual
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" (click)="cleanPacking()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmar cajas-->
<div id="caja" class="modal slide" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form (submit)="expressPack()">
                            <input id="qtyBox" type="number" class="form-control input-lg" name="box" [(ngModel)]="qtyBox" autocomplete="off" placeholder="Ingrese # cajas" autofocus>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="cleanItemTable()">Cerrar</button>
                <button type="button" class="btn btn-primary btn-lg" (click)="expressPack()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <h3>Packing </h3>
    <div class="row">
        <div class="col-xs-10" style="text-align:  right; font-size:  35px; cursor:  pointer; color:  #da0611;">
            <span class="icon-package" *ngIf="selectedOrder > 0" data-toggle="modal" data-target="#caja" title="Express-Pack"></span>
        </div>
        <div class="col-xs-2" style="text-align:  right; font-size:  35px; cursor:  pointer; color:  #da0611;">
            <span class="icon-layers" (click)="getPackingOrders()" title="Listar Ordenes"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null && errorMessage.length > 0">
                <p>{{errorMessage}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="cliente">Cliente</label>
            <select id="cliente" class="form-control input-lg" [(ngModel)]="selectedCustomer" name="selectedCustomer"
                (change)="loadCustomerOrders()" [disabled]="customersListDisabled">
                <option style="display:none" disabled value="">Selecciona un cliente</option>
                <option *ngFor="let customer of customersList" value="{{customer[0]}}">({{customer[2]}}) - {{customer[1]}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="ordersList && ordersList.length > 0">
        <div class="col-xs-12">
            <label for="orderNumber">Orden</label>
            <select id="orderNumber" class="form-control input-lg" [(ngModel)]="selectedOrder" name="selectedOrder"
                (change)="setIdPackingOrder()">
                <option style="display:none" disabled value="0">Selecciona una orden</option>
                <option *ngFor="let order of ordersList" value="{{order[1]}}">{{order[1]}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *ngIf="selectedOrder && !isVisibleItemCode">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Escanea el carrito</h4>
                </div>
                <div class="col-xs-12">
                    <form (submit)="validateScannedBin()">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="button" (click)="showAllItems()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control input-lg" autocomplete="off" name="binlocation"
                                placeholder="escanea el carrito" [(ngModel)]="binCode">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateScannedBin()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-12" *ngIf="isVisibleItemCode">
            <div class="row">
                <div class="col-xs-12" *ngIf="!packedItemCodeValidated">
                    <h4>{{binCode}} &gt; Escanea el ítem </h4>
                </div>
                <form (submit)="validateScannedItem()">
                    <div class="col-xs-12" *ngIf="!packedItemCodeValidated">
                        <div class="input-group">
                            <input id="txt_itemcode" type="text" class="form-control input-lg" autocomplete="off" name="itemcode"
                                placeholder="escanea la referencia" [(ngModel)]="itemCode">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateScannedItem()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12" *ngIf="!packedItemCodeValidated && itemCodeErrorMessage">
                        <div class="alert alert-danger">
                            {{itemCodeErrorMessage}}
                        </div>
                    </div>
                </form>
                <div class="col-xs-12" *ngIf="packedItemCodeValidated">
                    <h4>{{binCode}} &gt; {{itemCode}} &gt; Ingresa la cantidad</h4>
                </div>
                <form (submit)="validateItemQuantity()">
                    <div class="col-xs-12" *ngIf="packedItemCodeValidated">
                        <div class="input-group">
                            <input id="input_packedQuantity" type="number" class="form-control input-lg" name="filter"
                                placeholder="confirma la cantidad" [(ngModel)]="itemQuantity" [disabled]="packedItemQuantityValidated"
                                autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button" (click)="validateItemQuantity()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12" *ngIf="packedItemCodeValidated && quantityErrorMessage">
                        <div class="alert alert-danger">
                            {{quantityErrorMessage}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row" *ngIf="selectedCustomer">
        <div class="col-xs-12">
            <h4>¿En cuál caja deseas empacar?</h4>
        </div>
        <div class="col-xs-6" *ngFor="let box of boxes; let idx = index">
            <div class="packing-box">
                <span class="box-number">{{box.boxDisplayName}}</span>
                <span class="box-quantity">{{box.boxQuantity}} items</span>
                <span class="add-to-box" *ngIf="packedItemQuantityValidated">
                    <button class="btn btn-default form-control" type="button" (click)="confirmAddToBox(idx)"
                        [disabled]="packedItemQuantity <= 0 || packedItemQuantity > nextItemQuantity">
                        Aquí
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                </span>
                <span class="add-to-box" *ngIf="!packedItemQuantityValidated">
                    <button class="btn btn-default btn-lg" type="button" (click)="showPackingDetail(idx)">
                        <span class="glyphicon glyphicon-search"></span> Detalle
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="packedItemQuantityValidated">
            <div class="packing-box new-box" (click)="addBox()" [class.new-box-disabled]="!addNewBoxEnabled">
                <span>Nueva caja</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button *ngIf="packingOrdersComplete" class="btn btn-danger btn-lg" type="button" data-toggle="modal"
                    data-target="#close_confirmation">
                    Finalizar
                </button>
                <button class="btn btn-danger btn-lg" type="button" (click)="nextOrden()">
                    Sigt Orden <span class="icon-refresh"></span>
                </button>
            </div>
        </div>
    </div>
</div>