.content {
    margin-top: 60px;
}

.confirm-item {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.packing-box {
    height: 150px;
    border: 1px solid #bbb;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 5px;
}

.box-number {
    display: block;
    font-size: 2em;
    text-align: center;
}

.box-quantity {
    display: block;
    font-size: 1.4em;
    text-align: center;
}

.new-box {
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.new-box-disabled {
    cursor: not-allowed;
    color: #888;
}

.add-to-box {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 80%;
}

.status-text {
    font-size: 1.5em;
}

.bin-code{
    font-size: 9px;
    color:#666;
}