.content {
    margin-top: 60px;
}

.confirm-item {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.photo {
    width: 100px !important;
    height: 100px !important;
    position: relative;
    top: 7px;
}

.packing-box {
    height: 170px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 5px;
}

.packing-box.unauthorized {
    border: 1px solid #ededed;
    opacity: 0.4;
  }

.box-unauthorized-desktop {
    position: absolute;
    top: -180px;
    left: 16px;
    text-align: center;
    font-size: 30px;
    background-color: #333;
    opacity: 0.4;
    padding: 43px 100px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.box-unauthorized-tablet {
    position: absolute;
    top: -180px;
    left: 16px;
    text-align: center;
    font-size: 30px;
    background-color: #333;
    opacity: 0.4;
    padding: 43px 55px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.box-unauthorized-mobile {
    position: absolute;
    top: -180px;
    left: 16px;
    text-align: center;
    font-size: 30px;
    background-color: #333;
    opacity: 0.4;
    padding: 43px 135px;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 170px;
}

.qty {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #333;
    border-radius: 10px;
  }

.qty.unauthorized {
    background-color: #e0e0e0;
}

.itemname {
    font-size: 10px;
    font-style: italic;
    position: absolute;
    top: 12px;
}

.box {
    padding: 15px 110px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #333;
    float: right;
    border-radius: 2px;
    opacity: 0.4;
}

.packing-box:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(200, 200, 200);
  }

.packing-box a:hover {
    background-color: #da0611;
    color: black;
  }
  
.box-number {
    display: block;
    font-size: 2em;
    text-align: center;
}

.bin {
    font-style: italic;
    font-size: smaller;
}

.scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  .scrollTop:hover {
    background-color: #333;
}

.box-invoice{
    height: 175px;
    margin-bottom: 10px;
    background-color: #333;
    color: #ddd;
    /*font-size: 100px;*/
    text-align: center;
}

.box-invoice:hover {
    color: #ddd;
    background-color: #da0611;
}

.box-quantity {
    display: block;
    font-size: 1.4em;
    text-align: center;
}

.new-box {
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.new-box-disabled {
    cursor: not-allowed;
    color: #888;
}

.add-to-box {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 80%;
}

.status-text {
    font-size: 1.5em;
}

.bin-code {
    font-size: 9px;
    color:#666;
}

.option {
    text-align: right;
    font-size: 35px;
    cursor: pointer;
    color: #da0611;
    position: relative;
    top: 14px;
}