.content {
    margin-top: 60px;
}

.box {
    height: 175px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box .box-itemname {
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
}

.photo {
    width: 100px !important;
    position: relative;
    left: -15px;
    top: 8px;
}

.box .box-itemcode {
    font-size: 18px;
    position: absolute;
    top: 5px;
    text-align: center;
    font-weight: bold;
    left: -35px;
}

.box .box-stock::before {
    font-weight: bold;
    font-size: 11px;
}

.box .box-stock {
    position: absolute;
    top: 35px;
    width: 155%;
    font-size: 11px;
    left: -35px;
}

.box .box-docdate {
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 11px;
}

.box .box-wharehouse::before {
    font-weight: bold;
    font-size: 12px;
    position: relative;
    content: 'Sucursal';
    display: block;
}

.box .box-wharehouse {
    border-top: 1px solid #ddd;
    position: relative;
    top: 60px;
    width: 80%;
    right: 48px;
}

.box .box-price::before {
    font-weight: bold;
    font-size: 12px;
    content: 'Precio';
    display: block;
}

.box .box-price {
    border-top: 1px solid #ddd;
    position: absolute;
    top: 60px;
    left: 55px;
}

.box .box-itemname::before {
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.box .box-itemname {
    border-top: 1px solid #ddd;
    position: absolute;
    top: 115px;
    left: 20px;
    width: 87%;
    font-size: 12px;
}