.modal-content {
  background-color: rgba(50,50,50,0.8);
}

.center {
  margin: 0 auto;
  padding-bottom: 20px;
}

.login-bg {
  position: absolute;
  top: 0px;
  left: 0px;

  background-image: url('/assets/images/fondo-3.jpg');
  background-size: cover;

  width: 100%;
  height: 100%;
}

select {
  padding-top: 12px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 15px;
}

select[disabled] {
  color: #999;
  background-color: #eee;
}

@media only screen and (min-width: 768px) {
  .modal-dialog {
    margin-top: 130px;
  }
}
