<igb-navbar></igb-navbar>

<div class="container content">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="box" [routerLink]="['/transfer-location']">
                <span class="icon-location-all" style="font-size: 100px"></span>
                <h3 class="title">
                    Entre Ubicaciones
                </h3>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box" [routerLink]="['/transfer-warehouse']">
                <span class="icon-warehouse-all" style="font-size: 100px"></span>
                <h3 class="title">
                    Entre Almacenes
                </h3>
            </div>
        </div>
        <div *ngIf="selectedCompany == 'IGB'" class="col-xs-12 col-md-6">
            <div class="box" [routerLink]="['/transfer-modula']">
                <span class="icon-modula" style="font-size: 100px;"></span>
                <h3 class="title">
                    A Modula
                </h3>
            </div>
        </div>
    </div>
</div>