<igb-navbar></igb-navbar>

<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal user-->
<div id="modal_users" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Asignación de orden</h4>
      </div>
      <div class="modal-body">
        <form>
          <select name="selectedUser" class="form-control input-lg" [(ngModel)]="selectedUser"
            *ngIf="assignableUsers && assignableUsers.length > 0">
            <option disabled selected style="display:none" value="">Selecciona un empleado</option>
            <option *ngFor="let employee of assignableUsers" [value]="employee.username">{{employee.completeName}}
            </option>
          </select>
          <br />
          <p>Estás a punto de asignar {{selectedOrders.size}} órdenes para picking. ¿Deseas continuar?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" (click)="resetAssignOrder()"
          style="float: left;">Des-asignar</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="assignOrders()">Asignar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal status order-->
<div id="order_status" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div *ngIf="loadingAvailableStock">
          <p>Cargando inventario disponible </p>
          <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span class="sr-only">100% Complete</span>
            </div>
          </div>
        </div>
        <div *ngIf="!loadingAvailableStock">
          <p>La orden
            <b>{{allStockAvailable ? '' : 'NO'}}</b> tiene inventario disponible en ubicaciones de picking para todas
            sus referencias.
            <b>{{allStockAvailable ? 'Haz clic en habilitar para cambiar el estado y terminar el proceso de picking.' :
              ''}}</b>
          </p>
          <table class="table">
            <tr>
              <th>Referencia</th>
              <th style="text-align: right">Pendiente</th>
              <th style="text-align: right">Disponible</th>
            </tr>
            <tr *ngFor="let row of availableStock" [class.danger]="row[6] < row[1]">
              <td>{{row[0]}}</td>
              <td style="text-align: right">{{row[1]}}</td>
              <td style="text-align: right">{{row[6]}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg" (click)="enableOrder()"
          [disabled]="!allStockAvailable">Habilitar</button>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal confirmacion-->
<div id="confirmation_picking" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>
          <b>¿Estás seguro que deseas crear picking express?</b><br />Al hacerlo, se crearán la entrega y se cerrara el
          packing para los ítems empacados.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="clearOrder()"
          style="float: left;">No</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="getModalPickingExpress()">Sí</button>
      </div>
    </div>
  </div>
</div>
<!--Modal procesar picking express-->
<div id="process_picking_express" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearOrder()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Procesando picking express</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <span *ngIf="processDeliveryStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
            <img *ngIf="processDeliveryStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
            <span *ngIf="processDeliveryStatus === 'done'" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="processDeliveryStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="status-text">Creando entrega express </span><i *ngIf="processDeliveryStatus === 'done'"
              style="font-size: 12px; color: #da0611;">({{docEntryDelivery}})</i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <span *ngIf="processPrintLabelsStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
            <img *ngIf="processPrintLabelsStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
            <span *ngIf="processPrintLabelsStatus === 'done'" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="processPrintLabelsStatus === 'warn'" class="glyphicon glyphicon-warning-sign"></span>
            <span *ngIf="processPrintLabelsStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="status-text">Impresión de documento</span>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div *ngIf="processDeliveryStatus === 'done'" class="box-printer" (click)="printerPick(false)">
                <span class="icon-printer" style="font-size: 140px"></span>
                <h4 class="title">Picking</h4>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row" *ngIf="deliveryErrorMessage">
          <div class="col-xs-12">
            <div class="alert alert-danger">
              {{deliveryErrorMessage}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button *ngIf="deliveryErrorMessage" class="btn btn-danger btn-lg" type="button" data-dismiss="modal"
              (click)="resetSesionId()" [disabled]="inProgress()"><span class="icon-refresh"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal imprimir pickinExpress-->
<div id="printerPickingExpress" class="modal slide" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearOrder()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Imprimir picking express</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <input id="orderNumber" type="text" class="form-control input-lg" name="box" [(ngModel)]="orderNumber"
              autocomplete="off" placeholder="Ingrese # ordenes">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12 text-center">
            <span *ngIf="processPrintLabelsStatus === 'none'" class="glyphicon glyphicon-minus-sign"></span>
            <img *ngIf="processPrintLabelsStatus === 'inprogress'" height="22" src="/assets/images/loading.gif">
            <span *ngIf="processPrintLabelsStatus === 'done'" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="processPrintLabelsStatus === 'warn'" class="glyphicon glyphicon-warning-sign"></span>
            <span *ngIf="processPrintLabelsStatus === 'error'" class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="status-text">Impresión de documento</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="box-printer" (click)="printerPick(true)">
              <span class="icon-printer" style="font-size: 140px"></span>
              <h4 class="title">Picking</h4>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="multiPickingErrorMessage != null && multiPickingErrorMessage.length > 0">
          <div class="col-xs-12 text-center">
            <div class="alert alert-danger" role="alert">
              <p>{{multiPickingErrorMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button *ngIf="selectedOrders.size == 1 && pickingExpressModuleAccesible" type="button" class="express-picking"
  id="btnExpressPicking" data-toggle="modal" data-target="#confirmation_picking" title="Picking Express">
  <span class="icon-express" style="font-size: 40px;"></span>
</button>

<button type="button" class="scrollTop" id="btnScrollTop" (click)="getScrollTop();" title="Arriba"><span
    class="icon-chevron-up"></span></button>

<div class="container content">
  <div class="row">
    <div class="col-xs-12">
      <div class="option" data-toggle="modal" data-target="#printerPickingExpress">
        <span class="icon-printer" title="Imprimir Pickig"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Órdenes de venta pendientes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="input-group">
          <span class="input-group-btn" *ngIf="selectedOrders && selectedOrders.size > 0">
            <button type="button" class="btn btn-default btn-lg" (click)="listAssignableEmployees()">
              <span class="badge">{{selectedOrders.size}}</span>
              <span class="icon-user"></span>
            </button>
          </span>
          <input type="text" class="form-control input-lg" id="filter" name="filter" placeholder="Escribe para filtrar"
            [(ngModel)]="filter" (keyup)="filterOrders(false)" autocomplete="off" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg" (click)="toggleEye()" style="border-radius: 0px;">
              <span class="icon-eye" [ngClass]="{'icon-eye': !showApprovedOnly, 'icon-eye-off': showApprovedOnly}"
                title="No autorizados"></span>
            </button>
          </span>
          <span class="input-group-btn">
            <button type="button" [class.box]="filterGroup" class="btn btn-default btn-lg"
              (click)="filterGroupOrders()">
              <span class="icon-groups" title="Filtrar grupos"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngFor="let order of filteredOrders">
      <div class="order" [class.warning]="order.status == 'warning'" [class.identity]="order.cardCode == 'C900998242'"
        [class.unauthorized]="order.confirmed === 'N' || order.address.length === 0 || order.transp.length === 0"
        [class.selected]="selectedOrders.has(order.docNum)" (click)="selectOrder(order)">
        <div class="row">
          <div class="col-sm-4">
            <div class="date"><b>{{order.docDate}}</b></div>
          </div>
          <div class="col-sm-4">
            <div class="order-num"><b>Orden # {{order.docNum}}</b></div>
          </div>
          <div class="col-sm-4"><span *ngIf="order.status == 'warning'"
              class="glyphicon glyphicon-warning-sign warn"></span>
            <div class="assigned-employee" *ngIf="order.assignedPickingEmployee"><span class="icon-user"
                style="font-size: 18px;"></span>{{order.assignedPickingEmployee}}</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2 col-xs-3">
            <p><b>Refs </b><span class="badge">{{order.items}}</span></p>
            <hr>
            <p><b>Cliente</b><br>{{order.cardCode}}</p>
          </div>
          <div class="col-sm-10 col-xs-9">
            <p><b>Comentarios</b></p>
            <hr>
            <p>{{order.comments}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>{{order.cardName}}</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <p><b>{{order.address}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>