<igb-navbar></igb-navbar>

<div class="container content">
    <div class="row">
        <div class="contenedor">
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/orders-sap']">
                    <span class="icon-sap"></span>
                </div>
            </div>
            <div *ngIf="selectedCompany == 'IGBPruebas'" class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/orders-modula']">
                    <span class="icon-modula"></span>
                </div>
            </div>
        </div>
    </div>
</div>