<igb-navbar></igb-navbar>
<!--Modal procesando-->
<div id="modal_transfer_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando transferencia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Cuadro & busqueda-->
<div class="container">
  <div class="info">
    <div class="info__img" *ngIf="selectedCompany=='IGB'">
      <img src="/assets/images/logo-calidosos.png" alt="Restaurant" style="position: relative; top: 57px;">
    </div>
    <div class="info__img" *ngIf="selectedCompany=='VARROC'">
      <img src="/assets/images/logo-vip.png" alt="Restaurant" style="position: relative; top: 57px;">
    </div>
    <div class="info__desc">Programa fidelización</div>
  </div>
  <div class="counter">
    <div class="counter__desc">Consulta por identificación</div>
    <div class="counter__change">
      <form (submit)="getPoints()">
        <input type="text" class="counter__input" placeholder="C1001618260" id="cardCode" name="cardCode"
          [(ngModel)]="cardCode" />
      </form>
      <span class="glyphicon glyphicon-trash" style="font-size: 24px; position: relative; top: 3px; margin-left: 5px;"
        (click)="clear()"></span>
    </div>
  </div>
  <div class="items" *ngIf="state">
    <div><span class="icon-user" style="font-size: 20px; position: relative; top: 3px; margin-left: -3px;"></span><b>
        Cliente:</b> {{customer}}</div>
    <div><span class="icon-groups" style="font-size: 20px; position: relative; top: 3px; margin-left: -3px;"></span><b>
        Concepto:</b> {{concept}}</div>
    <div><span class="glyphicon glyphicon-gift"
        style="font-size: 20px; position: relative; top: 3px; margin-left: -3px;"></span><b> Puntos:</b> {{points |
      number}}</div>
  </div>
  <div class="seccion">
    <div class="confirm-btn">
      <button type="button" (click)="getPoints()">
        Consultar
      </button>
    </div>
  </div>
  <!--Alerta error-->
  <div *ngIf="changeErrorMessage" class="seccionAlert">
    <div class="alert alert-danger">
      {{changeErrorMessage}}
    </div>
  </div>
</div>
