<igb-navbar></igb-navbar>

<div class="container content">
    <div class="row">
        <div class="contenedor">
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/inventory-random']">
                    <span class="icon-inventory-boxes" style="font-size: 110px"></span>
                    <h3 class="title">
                        Aleatorio
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/stock-item']">
                    <span class="icon-search-stock" style="font-size: 110px"></span>
                    <h3 class="title">
                        Consultar
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/stock-soul']">
                    <span class="icon-soul" style="font-size: 160px"></span>
                </div>
            </div>
        </div>
    </div>
</div>