<igb-navbar></igb-navbar>

<div class="container content">
    <div class="row">
        <div class="contenedor">
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/inventory-random']">
                    <span class="icon-shuffle" style="font-size: 110px"></span>
                    <h4 class="title">
                        Aleatorio
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/stock-item']">
                    <span class="icon-search-stock" style="font-size: 110px"></span>
                    <h4 class="title">
                        Consultar
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/resupply']">
                    <span class="icon-shelving" style="font-size: 110px"></span>
                    <h4 class="title">
                        Reabastecer
                    </h4>
                </div>
            </div>
            <div *ngIf="selectedCompany == 'IGB'" class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/stock-soul']">
                    <span class="icon-soul" style="font-size: 132px"></span>
                </div>
            </div>
            <div *ngIf="selectedCompany == 'IGB'" class="col-xs-12 col-md-6">
                <div class="box" [routerLink]="['/modula-stock']">
                    <span class="icon-modula"></span>
                    <h4 class="title">
                        Stock
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>