<igb-navbar></igb-navbar>
<!-- Modal para generar carta laboral -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="confirmModalLabel" style="font-size: 18px;">Carta laboral con la
          siguiente información:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Cédula:</strong> {{cedula}}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{fechaNacimiento}}</p>
        <p><strong>Fecha carta laboral:</strong> {{selectedYear}}-{{selectedMonth }}-{{selectedPeriodo}}</p>
        <p><strong>Dirigido a: </strong> {{dirigidoA}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="generateJobCertify()">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <h3>Generar Carta Laboral</h3>
  <form (submit)="confirmGenerate()">
    <div class="row">
      <div class="col-xs-12">
        <label for="empresa">Seleccione empresa</label>
        <select id="empresa" class="form-control input-lg" [(ngModel)]="selectedCompany" name="selectedCompany"
          (ngModelChange)="onCompanyChange()" required [class.required-field]="!selectedCompany">
          <option value="" disabled>Seleccione empresa</option>
          <option value="IGB_NOVAWEB">IGB</option>
          <option value="MTZ_NOVAWEB">MOTOZONE</option>
          <!--<option value="VILNA_NOVAWEB">REDPLAS</option>
          <option value="WALI_NOVAWEB">WALI</option>
          <option value="DSM_NOVAWEB">DIGITAL</option>
          <option value="INVERSUR_NOVAWEB">INVERSUR</option>
          <option value="MOTOREPUESTOS_NOVAWEB">MOTOREPUESTOS</option>-->
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <label for="cedula">Cédula</label>
        <input type="number" id="cedula" class="form-control input-lg" [(ngModel)]="cedula" name="cedula"
          autocomplete="off" required placeholder="Ingrese cédula" [class.required-field]="!cedula" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <label for="year">Año</label>
        <select id="year" class="form-control input-lg" [(ngModel)]="selectedYear" name="selectedYear" required
          [class.required-field]="!selectedYear" required>
          <option value="" disabled>Seleccione año</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
      </div>
      <div class="col-xs-4">
        <label for="month">Mes</label>
        <select id="month" class="form-control input-lg" [(ngModel)]="selectedMonth" name="selectedMonth" required
          [class.required-field]="!selectedMonth" required>
          <option value="" disabled>Seleccione mes</option>
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
      <div class="col-xs-4">
        <label for="periodo">Tipo</label>
        <select id="periodo" class="form-control input-lg" [(ngModel)]="selectedPeriodo" name="selectedPeriodo" required
          [class.required-field]="!selectedPeriodo" required>
          <option value="" disabled>Seleccione uno</option>
          <option value="15">Administrativo</option>
          <option value="30">Logística</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" id="fechaNacimiento" class="form-control input-lg" [(ngModel)]="fechaNacimiento"
          name="fechaNacimiento" required [class.required-field]="!fechaNacimiento" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <label for="dirigido">Dirigido a</label>
        <select id="dirigido" class="form-control input-lg" [(ngModel)]="dirigidoA" name="dirigidoA" required
          [class.required-field]="!dirigidoA" required>
          <option value="" selected disabled>Seleccione uno</option>
          <option value="A quién pueda interesar">A quién pueda interesar</option>
          <option value="Personalizado">Personalizado</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row" *ngIf="dirigidoA == 'Personalizado'">
      <div class="col-xs-12">
        <label for="contenidoPersonalizado">Contenido personalizado</label>
        <textarea id="contenidoPersonalizado" class="form-control" [(ngModel)]="contenidoPersonalizado"
          name="contenidoPersonalizado"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-danger btn-lg" (click)="confirmGenerate()"
          [disabled]="!cedula || !selectedYear || !selectedMonth || !selectedPeriodo || !fechaNacimiento || !dirigidoA">Generar</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="cancelForm()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
