.content {
  margin-top: 60px;
}

.final-section {
  background-color: #EAEAEA;
  border: 1px solid #BFC9CA;
  border-radius: 10px;
  color: #333;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reload {
  text-align: right;
  font-size: 35px;
  cursor: pointer;
  color: black;
  position: relative;
  top: 8px;
}

.seccion {
  padding-bottom: 15px;
}

.address {
  padding-bottom: 20px;
  padding-top: 10px;
}

.title-address {
  padding-bottom: 12px;
}

.customer {
  margin-bottom: 10px;
  color: black;
  font-size: 100px;
  text-align: center;
}

.customer:hover {
  color: #da0611;
  cursor: pointer;
}

.block-seccion {
  padding-top: 15px;
  padding-bottom: 30px;
}

.reload {
  text-align: right;
  font-size: 35px;
  cursor: pointer;
  color: black;
  position: relative;
  top: 8px;
}

.disabled-icon {
  opacity: 0.5;
  pointer-events: none;
}

.last-section {
  padding-bottom: 30px;
}

.mt-4 {
  margin-top: 20px;
}

.radio label {
  font-size: 15px;
  margin-bottom: 10px;
}

.radio label.bold {
  font-weight: bold;
}

.radio input[type="radio"] {
  margin-top: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.radio input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #da0611;
  /* Color de la bolita seleccionada */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio input[type="radio"]:hover {
  border-color: gray;
}

.radio input[type="radio"]:focus {
  box-shadow: 0 0 3px gray;
}

.check {
  padding-left: 15px;
}
