<igb-navbar></igb-navbar>

<!--Modal procesando-->
<div id="modal_process" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Procesando</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal info custodia-->
<div id="modal_info_custody" class="modal slide" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Información # {{idAsset}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="text-center">
            <div class="col-xs-12">
              <p>Asignado por:</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="col-xs-12">
              <img class="avatar" src="{{urlShared}}images/users/{{userAssign}}.jpg" title="Asignador">
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="text-center">
            <div class="col-xs-12">
              <p class="box-note-user">Activo pertenece a la compañía ({{companyPurchase}}), se compro en
                ({{datePurchase}})</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal consultar, crear o modificar empleado-->
<div id="modal_add_employee" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clean()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Empleado</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" *ngIf="messageNewEmployee">
              {{messageNewEmployee}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="doc">Nro de documento</label>
            <input type="number" id="doc" (keyup.enter)="findEmployee()" class="form-control input-lg"
              [(ngModel)]="document" autocomplete="off" name="doc" autocorrect="off" autocapitalize="none"
              placeholder="Cédula" [class.required-field]="!validDoc" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="fullName">Nombre completo</label>
            <input type="text" id="fullName" class="form-control input-lg" [(ngModel)]="fullName" autocomplete="off"
              name="fullName" autocorrect="off" autocapitalize="none" placeholder="Nombre completo"
              [class.required-field]="!validFullName" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="departament">Departamento</label>
            <select id="departament" class="form-control input-lg" [(ngModel)]="selectedDepartament"
              name="selectedDepartament" [class.required-field]="!validSelectDep" required>
              <option value="" disabled>Seleccione uno</option>
              <option>ADMINISTRATIVA</option>
              <option>BODEGA</option>
              <option>COMEX</option>
              <option>CONTABILIDAD</option>
              <option>CARTERA</option>
              <option>COMERCIAL</option>
              <option>COMPRAS</option>
              <option>FACTURACION</option>
              <option>GERENCIA</option>
              <option>LOGISTICA</option>
              <option>MERCADEO</option>
              <option>MOTOREPUESTOS</option>
              <option>TESORERIA</option>
              <option>TELEMERCADEO</option>
              <option>TALENTO HUMANO</option>
              <option>RECEPCION</option>
              <option>REDPLAS</option>
              <option>SISTEMAS</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="company">Empresa</label>
            <select id="company" class="form-control input-lg" [(ngModel)]="selectedCompanyEmpl"
              name="selectedCompanyEmpl" [class.required-field]="!validSelectCompanyEmpl" required>
              <option value="" disabled>Seleccione uno</option>
              <option>IGB</option>
              <option>MOTOZONE</option>
              <option>REDPLAS</option>
              <option>WALI</option>
              <option>INVERSUR</option>
              <option>MOTOREPUESTOS</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="cc">Centro de costo</label>
            <input type="number" id="ccosto" class="form-control input-lg" [(ngModel)]="ccosto" autocomplete="off"
              name="ccosto" autocorrect="off" autocapitalize="none" placeholder="Centro de costo"
              [class.required-field]="!validCcosto" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="statusEmpl">Estado</label>
            <select id="statusEmpl" class="form-control input-lg" [(ngModel)]="selectedStatusEmpl"
              name="selectedStatusEmpl" [class.required-field]="!validSelectStatusEmpl" required>
              <option value="" disabled>Seleccione uno</option>
              <option value="Y">ACTIVO</option>
              <option value="N">INACTIVO</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" (click)="addOrRefrescEmployee()">{{bottonAction}}</button>
      </div>
    </div>
  </div>
</div>
<!--Modal crear activo fijo-->
<div id="modal_new_asset" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clean()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Activo Fijo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" *ngIf="messageNewAsset">
              {{messageNewAsset}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="idAsset">ID activo</label>
            <input type="text" id="idAsset" (keyup.enter)="findAsset()" class="form-control input-lg"
              [(ngModel)]="idAsset" autocomplete="off" name="idAsset" autocorrect="off" autocapitalize="none"
              placeholder="Id Activo" [class.required-field]="!validIdAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="typeAsset">Tipo activo</label>
            <input type="text" id="typeAsset" class="form-control input-lg" [(ngModel)]="typeAsset" autocomplete="off"
              name="typeAsset" autocorrect="off" autocapitalize="none" placeholder="Tipo de activo"
              [class.required-field]="!validTypeAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="brandAsset">Marca</label>
            <input type="text" id="brandAsset" class="form-control input-lg" [(ngModel)]="brandAsset" autocomplete="off"
              name="brandAsset" autocorrect="off" autocapitalize="none" placeholder="Marca"
              [class.required-field]="!validBrandAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="refAsset">Referencia</label>
            <input type="text" id="refAsset" class="form-control input-lg" [(ngModel)]="refAsset" autocomplete="off"
              name="refAsset" autocorrect="off" autocapitalize="none" placeholder="Referencia"
              [class.required-field]="!validRefAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="serialAsset">Serial</label>
            <input type="text" id="serialAsset" class="form-control input-lg" [(ngModel)]="serialAsset"
              autocomplete="off" name="serialAsset" autocorrect="off" autocapitalize="none" placeholder="Serial"
              [class.required-field]="!validSerialAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="companyAsset">Empresa</label>
            <select id="companyAsset" class="form-control input-lg" [(ngModel)]="selectedCompanyAsset"
              name="selectedCompanyAsset" [class.required-field]="!validSelectedCompanyAsset" required>
              <option value="" disabled>Seleccione uno</option>
              <option>IGB</option>
              <option>MOTOZONE</option>
              <option>REDPLAS</option>
              <option>WALI</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="datePurchaseAsset">Fecha Compra</label>
            <input type="date" id="start" class="form-control input-lg" [(ngModel)]="datePurchaseAsset"
              name="datePurchaseAsset" min="2008-01-01" max="2050-12-31" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="ccostoAsset">Centro de costo</label>
            <input type="number" id="ccostoAsset" class="form-control input-lg" [(ngModel)]="ccostoAsset"
              autocomplete="off" name="ccostoAsset" autocorrect="off" autocapitalize="none"
              placeholder="Centro de costo activo" [class.required-field]="!validCcosto" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="statusAsset">Estado</label>
            <select id="statusAsset" class="form-control input-lg" [(ngModel)]="selectedStatusAsset"
              name="selectedStatusAsset" [class.required-field]="!validSelectStatusAsset" required>
              <option value="" disabled>Seleccione uno</option>
              <option value="Y">ACTIVO</option>
              <option value="N">INACTIVO</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <textarea id="noteAsset" class="md-textarea form-control" name="noteAsset" style="width: 100%;" rows="10"
              placeholder="Ingrese aquí un comentario" [(ngModel)]="noteAsset" autocomplete="off"
              [class.required-field]="!validNoteAsset" required></textarea>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="urlAsset">Evidencia</label>
            <input type="text" id="urlAsset" class="form-control input-lg" [(ngModel)]="urlAsset" autocomplete="off"
              name="urlAsset" autocorrect="off" autocapitalize="none" placeholder="Url activo"
              [class.required-field]="!validUrlAsset" required>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="idEmployee">Asignar empleado</label>
            <select id="idEmployee" class="form-control input-lg" [(ngModel)]="selectedIdEmployee"
              name="selectedIdEmployee" [class.required-field]="!validSelectIdEmployee" required>
              <option value="" disabled>Seleccione uno</option>
              <option value="811011909">SIN ASIGNAR</option>
              <option *ngFor="let employee of employees" value="{{employee.cardCode}}">{{employee.cardName}}</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" (click)="addOrRefrescAsset()">{{bottonAction}}</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal para la impresión -->
<div id="modal_custody_print" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clean()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Generar Acta de Entrega</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" *ngIf="messageCustodyPrint">
              {{messageCustodyPrint}}
            </div>
          </div>
        </div>
        <form (submit)="generateCustodyPrint()">
          <div class="row">
            <div class="col-xs-12">
              <input type="number" class="form-control input-lg" id="document" placeholder="Ingrese cédula"
                [(ngModel)]="document" name="document" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            </div>
            <div class="col-xs-12" style="margin-top: 10px;">
              <select class="form-control input-lg" [(ngModel)]="selectedCompany" name="selectedCompany" required>
                <option value="" disabled selected>Seleccione Empresa</option>
                <option value="IGB">IGB</option>
                <option value="VARROC">MOTOZONE</option>
                <option value="VILNA">REDPLAS</option>
                <option value="VELEZ">MOTOREPUESTOS</option>
                <option value="WALI">WALI</option>
                <option value="DMS">DIGITAL</option>
                <option value="INVERSUR">INVERSUR</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" [disabled]="!document || !selectedCompany"
          (click)="generateCustodyPrint()">
          <span class="icon-download"></span> Generar
        </button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="scrollTop" id="btnScrollTop" (click)="getScrollTop();" title="Arriba"><span
    class="icon-chevron-up"></span></button>
<div class="container content">
  <div class="row">
    <div class="col-xs-10">
      <h3>Custodias por empleado</h3>
    </div>
    <div class="col-xs-2">
      <div class="option">
        <span class="icon-printer" data-toggle="modal" data-target="#modal_custody_print" title="Generar Acta"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="box" class="btn btn-default btn-lg" data-toggle="modal"
            data-target="#modal_new_asset" style="height: 46px;width: 50px;">
            <span class="icon-add-computer-2" title="Crear Activo"
              style="font-size: 40px;position: absolute;left: 5px;top: 1px;"></span>
          </button>
        </span>
        <form (submit)="getCustodyByEmployeeOrAsset(filter)">
          <input type="text" class="form-control input-lg" id="filter" name="filter"
            placeholder="Buscar custodia (id, cc o sin asignar)" [(ngModel)]="filter" autocomplete="off" />
        </form>
        <span class="input-group-btn">
          <button type="button" class="box" class="btn btn-default btn-lg" data-toggle="modal"
            data-target="#modal_add_employee">
            <span class="icon-add-employee" title="Crear Empleado"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert" *ngIf="messageEmployee">
        {{messageEmployee}}
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngFor="let custody of custodys">
      <div class="custody">
        <div class="row">
          <div class="col-sm-6">
            <div class="custody-num" (click)="getUrlShowCustody(custody.pictAsset)">
              <h6 style="position: relative; top: 6px;"><span class="{{custody.icon}}"
                  style="font-size: 50px;"></span><br />{{custody.type}} -
                {{custody.brand}}</h6>
              <b style="position: relative;top: -6px;font-size: 12px;">({{custody.idAsset}})</b><br />
              <b style="position: relative;top: -6px;">{{custody.referencia}}</b>
              <p style="position: relative;top: -10px;font-size: 10px;">{{custody.serial}}</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="custody-date">
              <h6 style="position: relative; top: 6px;">Asignado</h6>
              <b style="position: relative;top: -6px;">{{custody.dateAssign}}</b><br />
              <b style="font-size: 10px;">{{custody.cardName}}</b><br />
              <p style="font-size: 10px;">{{custody.cardCode}}</p><br />
              <p style="font-size: 10px; position: relative; top: -30px;">{{custody.company}} - {{custody.depart}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="custody-info" (click)="showModalInfo(custody)">
                <span class="icon-info" style="font-size: 30px;"></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="custody-edit" (click)="editModalAsset(custody)">
                <span class="icon-edit-3" style="font-size: 30px;"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
